div#wrap_body
 {
  background-color: #181818;
  padding: 0px 185px 0px 185px;
  font-family: 'Raleway', sans-serif;
}

div#wrap_body h2.pro_title
 {
  font-weight: 300;
  color: white;
  text-align: left;
  font-size: 70px;
  margin-left: -55px;
}

div#wrap_body h2.pro_title::after
 {
  background-color: #590909;
}

div#wrap_body div#company
 {
  padding-top: 111px;
}

div#wrap_body div#company h4.text
 {
  font-weight: 600;
  color: white;
  text-align: right;
  font-size: 18px;
}

div#wrap_body .scene
 {
  margin: 0;
  padding-left: 0;
}

div#wrap_body .scene #grey_square,
div#wrap_body .scene #white_triangle,
div#wrap_body .scene #border_red_triangle
{
  padding-left: 90px;
}

div#wrap_body .scene #white_triangle
 {
  margin-top: -20px;
}

div#wrap_body .scene #border_red_triangle
 {
  padding-top: 50px;
  margin-left: -30px;
}

div#wrap_body div#skills
 {
  padding-top: 47px;
  padding-bottom: 100px;
}

div#wrap_body div#skills h3.pro_subtitle
 {
  font-weight: 600;
  color: white;
  text-align: left;
  font-size: 30px;
  padding-bottom: 25px;
  margin-top: 190px;
}

div#wrap_body div#skills div#paragraph_button
 {
  display: flex;
}

div#wrap_body div#skills div#paragraph_button p.pro_paragraph
 {
  max-width: 710px;
  max-height: 126px;
  font-weight: 400;
  color: white;
  text-align: left;
  font-size: 15px;
  line-height: 1.2;
}

div#wrap_body div#skills div#paragraph_button p.pro_paragraph span.bold
 {
  font-weight: bold;
}

div#wrap_body div#skills div#paragraph_button a#rea
 {
  margin-left: auto;
}

div#wrap_body div#skills div#paragraph_button a#rea input[type=button].button
 {
  display: block;
  height: 76px;
  width: 281px;
  background: linear-gradient(to right, #971212, #590909);
  margin-left: auto;
  width: 281px;
  height: 74px;
  text-align: center;
  line-height: 74px;
  font-weight: 400;
  color: white;
  font-size: 22px;
  border: none;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

div#wrap_body div#projects
 {
  padding-top: 47px;
  padding-bottom: 100px;
}

div#wrap_body div#projects h3.pro_subtitle
 {
  font-weight: 600;
  color: white;
  text-align: left;
  font-size: 30px;
  padding-bottom: 25px;
}

div#wrap_body div#projects p.pro_paragraph_min
 {
  max-width: 500px;
  max-height: 126px;
  font-weight: 400;
  color: white;
  text-align: left;
  font-size: 15px;
  line-height: 1.2;
}

div#wrap_body div#projects p.pro_paragraph_min span.bold
 {
  font-weight: bold;
}

div#wrap_body div#projects::after
 {
  display: block;
  content: "";
  width: 570px;
  height: 70px;
  background-color: #590909;
  margin-top: -115px;
}

div#wrap_body div#stage
 {
  padding-top: 47px;
  padding-bottom: 100px;
}

div#wrap_body div#stage h3.pro_subtitle
 {
  font-weight: 600;
  color: white;
  text-align: right;
  font-size: 30px;
  padding-bottom: 25px;
}

div#wrap_body div#stage p.pro_paragraph_min
 {
  max-width: 500px;
  max-height: 126px;
  font-weight: 400;
  color: white;
  text-align: right;
  font-size: 15px;
  line-height: 1.2;
  margin-left: auto;
}

div#wrap_body div#stage p.pro_paragraph_min span.bold
 {
  font-weight: bold;
}

div#wrap_body div#stage::after
 {
  display: block;
  content: "";
  width: 570px;
  height: 70px;
  background-color: #590909;
  margin-top: -115px;
  margin-left: auto;
}

div#wrap_body div#event
 {
  padding-top: 47px;
  padding-bottom: 100px;
}

div#wrap_body div#event h3.pro_subtitle
 {
  font-weight: 600;
  color: white;
  text-align: right;
  font-size: 30px;
  padding-bottom: 25px;
}

div#wrap_body div#event p.pro_paragraph_min
 {
  max-width: 500px;
  max-height: 126px;
  font-weight: 400;
  color: white;
  text-align: right;
  font-size: 15px;
  line-height: 1.2;
  margin-left: auto;
}

div#wrap_body div#event p.pro_paragraph_min span.bold
 {
  font-weight: bold;
}

div#wrap_body #red_triangle,
div#wrap_body #border_white_triangle,
div#wrap_body #grey_triangle
 {
  padding-left: 110px;
  margin-top: 750px;
}

div#wrap_body #red_triangle
 {
  margin-left: -40px;
}

div#wrap_body #border_white_triangle 
{
  padding-top: 60px;
  margin-left: -110px;
}

div#wrap_body #grey_triangle
 {
  margin-left: 120px;
  padding-top: 100px;
}

div#wrap_body div.testimony
 {
  padding: 0px 85px 0px 60px;
  z-index: 1;
}

div#wrap_body div.testimony div.testimony_block
 {
  display: flex;
  padding-top: 100px;
}

div#wrap_body div.testimony div.testimony_block div.column
 {
  flex-direction: columns;
}

div#wrap_body div.testimony div.testimony_block div.column h3.testimony_name
 {
  font-weight: 600;
  color: white;
  text-align: left;
  font-size: 30px;
  margin-left: 40px;
}

div#wrap_body div.testimony div.testimony_block div.column span.uppercase
 {
  text-transform: uppercase;
}

div#wrap_body div.testimony div.testimony_block div.column p.profession
 {
  font-weight: 400;
  color: #971212;
  text-align: left;
  font-size: 28px;
  margin-left: 40px;
  padding-top: 15px;
}

div#wrap_body div.testimony div.testimony_block div.column #pro_shape
 {
  padding-top: 10px;
  margin-left: 180px;
}

div#wrap_body div.testimony div.testimony_block p.testimony_comment
 {
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 18px;
  width: 465px;
  margin-left: auto;
  line-height: 1.2;
}

div#wrap_body div.testimony div.testimony_block #quote
 {
  position: absolute;
  top: 1850px;
  right: 290px;
}

div#wrap_body img#testimony_picture
 {
  width: 188px;
  height: 194px;
}

div#wrap_body div.after::after
 {
  content: "";
  border: #971212 solid 3px;
  display: block;
  width: 188px;
  height: 194px;
  transform: rotate(-17deg);
  margin-top: -194px;
  margin-bottom: 105px;
}

div#wrap_body div.testimony_second
 {
  padding: 0px 85px 0px 60px;
  z-index: 1;
  padding-bottom: 185px;
}

div#wrap_body div.testimony_second div.testimony_block_second
 {
  display: flex;
  padding-top: 100px;
  flex-direction: row-reverse;
}

div#wrap_body div.testimony_second div.testimony_block_second div.column
 {
  flex-direction: columns;
}

div#wrap_body div.testimony_second div.testimony_block_second div.column h3.testimony_name
 {
  font-weight: 600;
  color: white;
  text-align: right;
  font-size: 30px;
  margin-right: 40px;
}

div#wrap_body div.testimony_second div.testimony_block_second div.column span.uppercase
 {
  text-transform: uppercase;
}

div#wrap_body div.testimony_second div.testimony_block_second div.column p.profession
 {
  font-weight: 400;
  color: #971212;
  text-align: right;
  font-size: 28px;
  margin-right: 40px;
  padding-top: 15px;
}

div#wrap_body div.testimony_second div.testimony_block_second div.column #pro_shape
 {
  padding-top: 10px;
  margin-right: 185px;
  transform: rotateX(-180deg);
}

div#wrap_body div.testimony_second div.testimony_block_second p.testimony_comment
 {
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 18px;
  max-width: 465px;
  margin-right: auto;
  line-height: 1.2;
}

div#wrap_body div.testimony_second div.testimony_block_second #quote
 {
  position: absolute;
  transform: rotate(180deg);
  top: 2375px;
  left: 250px;
}

div#wrap_body img#testimony_picture
 {
  width: 188px;
  height: 194px;
}

div#wrap_body div.after::after
 {
  content: "";
  border: #971212 solid 3px;
  display: block;
  width: 188px;
  height: 194px;
  transform: rotate(-17deg);
  margin-top: -194px;
  box-shadow: 0px 0px 15px 3px #971212;
}

div#wrap_body h3#form
 {
  font-weight: 100;
  color: white;
  text-align: left;
  font-size: 60px;
}

div#wrap_body #form_shape
 {
  margin-top: -40px;
}

div#wrap_body #red_square,
div#wrap_body #white_triangle_three,
div#wrap_body #border_grey_triangle
 {
  margin-left: -30px;
  margin-top: 2750px;
}

div#wrap_body #red_square
 {
  margin-left: -20px;
}

div#wrap_body #white_triangle_three
 {
  padding-top: -10px;
  margin-left: 10px;
}

div#wrap_body #border_grey_triangle
 {
  margin-left: -10px;
  padding-top: 60px;
}

div#wrap_body div#wrap_form
 {
  padding: 0px 220px 0px 220px;
  background-color: #181818;
  text-align: center;
}

div#wrap_body div#wrap_form div.form_flex
 {
  display: flex;
}

div#wrap_body div#wrap_form div.form_flex input#name
 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 105px;
  font-size: 18px;
  text-align: left;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: white;
  outline: none;
  border: 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-left: 28px;
  height: 61px;
  background-color: #262626;
  opacity: 1;
  width: 45%;
  margin-right: auto;
}

div#wrap_body div#wrap_form div.form_flex input#surname
 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 105px;
  font-size: 18px;
  text-align: left;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: white;
  outline: none;
  border: 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-left: 28px;
  height: 61px;
  background-color: #262626;
  opacity: 1;
  width: 45%;
  margin-left: auto;
}

div#wrap_body div#wrap_form input#email
 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 45px;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: white;
  outline: none;
  border: 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-left: 28px;
  width: 100%;
  height: 61px;
  background-color: #262626;
  opacity: 1;
}

div#wrap_body div#wrap_form textarea 
{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 45px;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  outline: none;
  border: 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 30px 28px;
  height: 325px;
  width: 100%;
  background-color: #262626;
  opacity: 1;
  resize: none;
}

div#wrap_body div#wrap_form div.checkbox_container
 {
  display: flex;
}

div#wrap_body div#wrap_form label.checkbox
 {
  display: flex;
  color: white;
  margin-top: 45px;
  align-items: center;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  margin-right: 50px;
}

div#wrap_body div#wrap_form label.checkbox input
 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

div#wrap_body div#wrap_form label.checkbox input~span.checkmark
 {
  display: block;
  position: absolute;
  margin-right: 14px;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  left: 0;
}

div#wrap_body div#wrap_form label.checkbox input:checked~span.checkmark
 {
  background-color: white;
}

div#wrap_body div#wrap_form div#grey_pro
 {
  padding-bottom: 300px;
}

div#wrap_body div#wrap_form div#grey_pro input[type=submit].button
 {
  display: block;
  height: 76px;
  width: 281px;
  background: linear-gradient(to right, #971212, #590909);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 281px;
  height: 74px;
  text-align: center;
  line-height: 74px;
  font-weight: 300;
  color: white;
  font-size: 22px;
  border: none;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}