$background:#181818;
$subtitle_after:#590909;
$red:#971212;
$gradient_left:#971212;
$gradient_right:#590909;
$form:#262626;






div#wrap_body
{
	background-color:$background;
	padding:0px 185px 0px 185px;
	font-family: 'Raleway', sans-serif;


	h2.pro_title
	{

		font-weight: 300;
		color: white;
		text-align: left;
		font-size: 70px;
		padding-top: 187px;	
		margin-left: -55px;
	}

	h2.pro_title::after
	{

		display: block;
		content: "";
		width: 570px;
		height: 64px;
		background-color: $subtitle_after;
		margin-top: -25px;
		margin-left: 25px;
	}


	div#company
	{
		padding-top: 111px;

		h4.text
		{
			font-weight: 600;
			color: white;
			text-align: right;
			font-size: 18px;
		}

	}
	
	.scene {
		margin: 0;
		padding-left: 0;

		#grey_square,#white_triangle,#border_red_triangle
		{
			padding-left: 350px;
		}	

		#white_triangle
		{
			margin-top: -20px;
		}

		#border_red_triangle
		{
			padding-top: 50px;
			margin-left: -30px;
		}


	}


	div#skills
	{
		padding-top: 47px;
		padding-bottom: 100px;


		h3.pro_subtitle
		{
			font-weight: 600;
			color: white;
			text-align: left;
			font-size: 30px;
			padding-bottom: 25px;
		}



		div#paragraph_button
		{
			display: flex;

			
			p.pro_paragraph
			{	
				max-width: 710px;
				max-height: 126px;
				font-weight: 400;
				color: white;
				text-align: left;
				font-size: 15px;
				line-height: 1.2;

				span.bold
				{
					font-weight: bold;
				}
			}

			a#rea {

				margin-left: auto;

			input[type=button].button 
			{
				display: block;
				height: 76px;
				width: 281px;
				background: linear-gradient(to right, $gradient_left,$gradient_right);
				margin-left: auto;
				width: 281px;
				height: 74px;
				text-align: center;
				line-height: 74px;
				font-weight: 400;
				color: white;
				font-size: 22px;
				border:none;
				font-weight: 300;
				font-family: 'Raleway', sans-serif;
			}
		}
		}
	}

	div#projects
	{
		padding-top: 47px;
		padding-bottom: 100px;


		h3.pro_subtitle
		{
			font-weight: 600;
			color: white;
			text-align: left;
			font-size: 30px;
			padding-bottom: 25px;
		}

		p.pro_paragraph_min
		{	
			max-width: 500px;
			max-height: 126px;
			font-weight: 400;
			color: white;
			text-align: left;
			font-size: 15px;
			line-height: 1.2;

			span.bold
			{
				font-weight: bold;
			}
		}
		
	}

	div#projects::after
	{	
		display: block;
		content: "";
		width: 570px;
		height: 70px;
		background-color: $subtitle_after;
		margin-top: -115px;
	}



	div#stage
	{
		padding-top: 47px;
		padding-bottom: 100px;


		h3.pro_subtitle
		{
			font-weight: 600;
			color: white;
			text-align: right;
			font-size: 30px;
			padding-bottom: 25px;
		}

		p.pro_paragraph_min
		{	
			max-width: 500px;
			max-height: 126px;
			font-weight: 400;
			color: white;
			text-align: right;
			font-size: 15px;
			line-height: 1.2;
			margin-left: auto;

			span.bold
			{
				font-weight: bold;
			}
		}
		
	}

	div#stage::after
	{	
		display: block;
		content: "";
		width: 570px;
		height: 70px;
		background-color: $subtitle_after;
		margin-top: -115px;
		margin-left: auto;
	}



	div#event
	{
		padding-top: 47px;
		padding-bottom: 100px;


		h3.pro_subtitle
		{
			font-weight: 600;
			color: white;
			text-align: right;
			font-size: 30px;
			padding-bottom: 25px;
		}

		p.pro_paragraph_min
		{	
			max-width: 500px;
			max-height: 126px;
			font-weight: 400;
			color: white;
			text-align: right;
			font-size: 15px;
			line-height: 1.2;
			margin-left: auto;

			span.bold
			{
				font-weight: bold;
			}
		}
		
	}


	#red_triangle,#border_white_triangle,#grey_triangle
	{
		padding-left: 350px;
		margin-top: 750px;
	}	

	#red_triangle
	{
		margin-left: -40px;
	}

	#border_white_triangle
	{
		padding-top: 60px;
		margin-left: -110px;
	}

	#grey_triangle
	{
		margin-left: 120px;
		padding-top: 100px;
	}



	div.testimony
	{
		padding: 0px 85px 0px 60px;
		z-index: 1;


		div.testimony_block
		{
			display: flex;
			padding-top: 100px;


			div.column
			{
				flex-direction: columns;



				h3.testimony_name
				{
					font-weight: 600;
					color: white;
					text-align: left;
					font-size: 30px;
					margin-left: 40px;
				}

				span.uppercase
				{
					text-transform: uppercase;
				}

				p.profession
				{
					font-weight: 400;
					color: $red;
					text-align: left;
					font-size: 28px;
					margin-left: 40px;
					padding-top: 15px;
				}

				#pro_shape
				{
					padding-top: 10px;
					margin-left: 180px;


				}
			}

			p.testimony_comment
			{
				font-weight: 300;
				color: white;
				text-align: center;
				font-size: 18px;
				max-width: 465px;
				margin-left: auto;
				line-height: 1.2;
			}

			#quote
			{
				position: absolute;
				top: 2875px;
				right: 290px;
			}

		}

	}

	div.after::after
	{
		content:"";
		border: $red solid 3px;
		display: block;
		width: 188px;
		height: 194px;
		transform: rotate(-17deg);
		margin-top: -194px;
		margin-bottom: 105px;
	}





	div.testimony_second
	{
		padding: 0px 85px 0px 60px;
		z-index: 1;
		padding-bottom: 285px;


		div.testimony_block_second
		{
			display: flex;
			padding-top: 100px;
			flex-direction: row-reverse;


			div.column
			{
				flex-direction: columns;



				h3.testimony_name
				{
					font-weight: 600;
					color: white;
					text-align: right;
					font-size: 30px;
					margin-right: 40px;
				}

				span.uppercase
				{
					text-transform: uppercase;
				}

				p.profession
				{
					font-weight: 400;
					color: $red;
					text-align: right;
					font-size: 28px;
					margin-right: 40px;
					padding-top: 15px;
				}

				#pro_shape
				{
					padding-top: 10px;
					margin-right: 185px;
					transform:rotateX(-180deg);


				}
			}

			p.testimony_comment
			{
				font-weight: 300;
				color: white;
				text-align: center;
				font-size: 18px;
				max-width: 465px;
				margin-right: auto;
				line-height: 1.2;
			}

			#quote
			{
				position: absolute;
				transform: rotate(180deg);
				top: 3275px;
				left: 250px;
			}

		}

	}

	div.after::after
	{
		content:"";
		border: $red solid 3px;
		display: block;
		width: 188px;
		height: 194px;
		transform: rotate(-17deg);
		margin-top: -194px;
		box-shadow: 0px 0px 15px 3px $red;
	}



	h2#form
	{
		font-weight: 100;
		color: white;
		text-align: left;
		font-size: 60px;
	}

	#form_shape
	{
		margin-top: -40px;
	}



	#red_square,#white_triangle_three,#border_grey_triangle
	{
		padding-left: 50px;
		margin-top: 2750px;
	}	

	#red_square
	{
		margin-left: -40px;
	}

	#white_triangle_three
	{
		padding-top: -20px;
		margin-left: 10px;
	}

	#border_grey_triangle
	{
		margin-left: -20px;
		padding-top: 60px;
	}

	div#wrap_form
	{
		padding: 0px 290px 0px 290px;
		background-color:$background;


		div#form_flex
		{

			display: flex; 

			input#name
			{
				font-family: 'Raleway', sans-serif;
				font-weight: 300;
				margin-top: 105px;
				font-size: 18px;
				text-align: left;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.07;
				letter-spacing: normal;
				color: white;
				outline: none;
				border: 0;
				border-top: 3px solid white;
				border-bottom: 3px solid white;
				padding-left: 28px;
				height: 61px;
				background-color: $form;
				opacity: 1;
				width: 346px;
				margin-right: auto;
			}	



			input#surname
			{
				font-family: 'Raleway', sans-serif;
				font-weight: 300;
				margin-top: 105px;
				font-size: 18px;
				text-align: left;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.07;
				letter-spacing: normal;
				color: white;
				outline: none;
				border: 0;
				border-top: 3px solid white;
				border-bottom: 3px solid white;
				padding-left: 28px;
				height: 61px;
				background-color: $form;
				opacity: 1;
				width: 346px;
				margin-right: auto;
			}
		}
		input#email
		{
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			margin-top: 45px;
			font-size: 18px;
			text-align: left;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.07;
			letter-spacing: normal;
			color: white;
			outline: none;
			border: 0;
			border-top: 3px solid white;
			border-bottom: 3px solid white;
			padding-left: 28px;
			width:824px;
			height: 61px;
			background-color: $form;
			opacity: 1;
		}

		input#skills_required
		{
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			margin-top: 45px;
			font-size: 18px;
			text-align: left;
			font-weight: 300;
			font-style: normal;
			letter-spacing: normal;
			color: white;
			outline: none;
			border: 0;
			border-top: 3px solid white;
			border-bottom: 3px solid white;
			padding-left: 28px;
			height: 355px;
			width:823px; 
			background-color: $form;
			opacity: 1;           
		}

		div#grey_pro
		{
			padding-bottom: 300px;

			input[type=submit].button 
			{
				display: block;
				height: 76px;
				width: 281px;
				background: linear-gradient(to right, $gradient_left,$gradient_right);
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				width: 281px;
				height: 74px;
				text-align: center;
				line-height: 74px;
				font-weight: 300;
				color: white;
				font-size: 22px;
				border : none;
				font-weight: 300;
				font-family: 'Raleway', sans-serif;
			}
		}
	}



	#border__white_triangle_four,#white_triangle_four_big,#white_triangle_four_small
	{
		padding-left: 1150px;
		margin-top: 3450px;
	}	

	#border__white_triangle_four
	{
		margin-left: 40px;
	}

	#white_triangle_four_big
	{
		padding-top: 60px;
		margin-left: 10px;
	}

	#white_triangle_four_small
	{
		margin-left: 120px;
		padding-top: 110px;
	}

}