body{
  line-height: 1.2;
}

.fade
{
   opacity: 1;
}

h2::after {
  background-color: var(--color-dark-red);
}

/*Section Need_us*/
section#need_us #company {
  font-weight: var(--font-semi-bold);
  text-align: right;
  font-size: 18px;
}

section#need_us .need_us_content {
  margin-top: 100px;
}

  section#need_us .need_us_content p {
    width: 50%;
    display: inline-block;
  }

   section#need_us .need_us_content:first-of-type p {
    width: 50%;
    display: inline-block;
    margin-right: 130px;
  }




  section#need_us .need_us_content:first-of-type >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  section#need_us .need_us_content:first-of-type .link_button {
    background: linear-gradient(90deg, var(--color-red) 0%, var(--color-dark-red) 100%);
    font-weight: var(--font-light);
    font-size: 22px;
    padding: 25px 40px;
    margin-top: 50px;
  } 

  section#need_us .need_us_content h3 {
    font-weight: var(--font-semi-bold);
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1;
  }

section#need_us .need_us_content:nth-of-type(2) h3, section#need_us .need_us_content:nth-of-type(3) h3 {
  position: relative;
}

section#need_us .need_us_content:nth-of-type(2) h3::after, section#need_us .need_us_content:nth-of-type(3) h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 55%;
  height: 400%;
  background-color: var(--color-dark-red);
  z-index: -1;
}

section#need_us .need_us_content:nth-of-type(2) h3::after {
  left: 0;
}

section#need_us .need_us_content:nth-of-type(3) h3::after {
  right: 0
}

section#need_us .need_us_content:nth-of-type(3), section#need_us .need_us_content:nth-of-type(4) {
  text-align: right;
}


/*Section Testomny*/
section#testimony .testimony_container {
  display: flex;
  margin-left: 30px;
  position: relative;
  margin-bottom: 100px;
}

  section#testimony .testimony_container:last-of-type {
    margin-bottom: 0;
  }

section#testimony .testimony_container:nth-child(odd) {
  flex-direction: row-reverse;
}

  section#testimony .testimony_container:nth-child(even) .testimony_titles {
    margin-left: 40px;
  }

  section#testimony .testimony_container:nth-child(odd) .testimony_titles {
    margin-right: 40px;
  }

    section#testimony .testimony_container .testimony_titles p:nth-of-type(1) {
      font-weight: var(--font-extra-bold);
      font-size: 30px;
      margin-bottom: 15px;
      line-height: 1.2;
    }

    section#testimony .testimony_container .testimony_titles p:nth-of-type(2) {
      font-weight: var(--font-medium);
      font-size: 28px;
      color: var(--color-dark-red);
      line-height: 1.2;
    }

    section#testimony .testimony_container:nth-child(odd) .testimony_titles p {
      text-align: right;
    }

    section#testimony .testimony_container:nth-child(even) .testimony_titles img {
      margin-left: 150px;
      margin-top: 10px;
    }

    section#testimony .testimony_container:nth-child(odd) .testimony_titles img {
      margin-right: 150px;
      margin-top: 10px;
    }

  section#testimony .testimony_container .testimony_content {
    font-size: 17px;
    text-align: center;
    width: 40%;
    margin-top: 30px;
    line-height: 25px;
  }

  section#testimony .testimony_container:nth-child(even) .testimony_content {
    margin-left: auto;
  }

  section#testimony .testimony_container:nth-child(odd) .testimony_content {
    margin-right: auto;
  }

  section#testimony .testimony_container .testimony_img {
    position: relative;
    height: 200px;
    width: 200px;
  }

    section#testimony .testimony_container .testimony_img:after {
      content: "";
      display: block;
      position: absolute;
      top: -3px;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid var(--color-dark-red);
    }

    section#testimony .testimony_container:nth-child(even) .testimony_img:after {
      transform: rotate(-15deg);
    }

    section#testimony .testimony_container:nth-child(odd) .testimony_img:after {
      transform: rotate(15deg);
    }

    section#testimony .testimony_container .testimony_img >img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    section#testimony .testimony_container:nth-child(even) .testimony_quote {
      position: absolute;
      top: -40px;
      right: -30px;
    }

    section#testimony .testimony_container:nth-child(odd) .testimony_quote {
      position: absolute;
      top: -40px;
      left: -30px;
      transform: rotate(180deg);
    }

/*Section Form*/
section#form h3 {
  font-size: 45px;
  font-weight: var(--font-thin);
}

section#form >img {
  width: 100%;
  margin-top: -30px;
}

section#form form {
  margin-top: 120px;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  section#form form input[type=text], section#form form input[type=email], section#form form textarea {
    background-color: #262626;
    font-size: 18px;
    outline: none;
    border: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    color: white;
    padding-left: 28px;
    font-weight: var(--font-light);
  }

  section#form form input[type=text] {
    height: 60px;
    width: 40%;
    margin-bottom: 45px;
  }

  section#form form input[type=email] {
    width: 100%;
    height: 60px;
    margin-bottom: 45px;
  }

  section#form form textarea {
    height: 325px;
    width: 100%;
    resize: none;
    padding-top: 30px;
  }

  section#form .checkbox_container {
    display: flex;
    margin-top: 45px;
  }

  section#form .checkbox_container label {
    display: flex;
    align-items: center;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    margin-right: 50px;
  }

    section#form .checkbox_container label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    section#form .checkbox_container label span {
      display: block;
      position: absolute;
      margin-right: 14px;
      width: 18px;
      height: 18px;
      border: 1px solid white;
      left: 0;
    }

    section#form .checkbox_container label input:checked~span {
      background-color: white;
    }

  section#form input[type=submit] {
    display: block;
    background: linear-gradient(90deg, var(--color-red) 0%, var(--color-dark-red) 100%);
    margin-top: 100px;
    font-size: 22px;
    border: none;
    color: white;
    padding: 25px 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

/*Parallax*/
section#need_us .scene {
  top: 15%;
  left: 20%;
}

  section#need_us .scene img:nth-of-type(2) {
    margin-left: 10px;
    margin-top: -20px;
  }

  section#need_us .scene img:nth-of-type(3) {
    margin-left: 10px;
    margin-top: 80px;
  }

section#testimony .scene {
  top: -30%;
  left: 10%;
}

  section#testimony .scene img:nth-of-type(1) {
    margin-left: 50px;
    margin-top: -100px;
  }

  section#testimony .scene img:nth-of-type(3) {
    margin-top: 50px;
    margin-left: 140px;
  }

section#form form .scene {
  left: -40%;
  top: -5%;
}

  section#form form .scene img:nth-of-type(2) {
    margin-left: 30px;
  }

  section#form form .scene img:nth-of-type(3) {
    margin-left: 30px;
    margin-top: 80px;
  }

section#form .scene {
  right: 15%;
}

  section#form .scene img:nth-of-type(2) {
    margin-left: 40px;
    margin-top: -60px;
  }

  section#form .scene img:nth-of-type(3) {
    margin-left: 60px;
    margin-top: 20px;
  }