div#wrap_body {
  background-color: #181818;
  padding: 0px 235px 0px 180px; }
  div#wrap_body h2.pro_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    text-align: left;
    font-size: 70px;
    padding-top: 187px;
    padding-left: 3px; }
  div#wrap_body h2.pro_title::after {
    display: block;
    content: "";
    width: 570px;
    height: 64px;
    background-color: #590909;
    margin-top: -25px;
    margin-left: 25px; }
  div#wrap_body div#company {
    padding-top: 111px; }
    div#wrap_body div#company h4.text {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      color: white;
      text-align: right;
      font-size: 18px; }
  div#wrap_body .scene {
    margin: 0;
    padding: 0;
    height: 250px; }
