h2::after {
	background-color: #9B3BB7;
}

section#but .container {

}

	section#but .container h3 {
		font-size: 30px;
		font-weight: var(--font-semi-bold);
		color: var(--color-dark-purple);
	}

section#but #skills {

}

	section#but #skills .skills_container {
		margin-bottom: 45px
	}

	section#but #skills .skills_container:last-of-type {
		margin-bottom: 0px
	}

		section#but #skills .skills_container >div {
			display: flex;
			align-items: center;
			cursor: pointer;
		}

			section#but #skills .skills_container >div img {
				margin-right: 20px;
			}

			section#but #skills .skills_container >div h4 {
				font-size: 18px;
				font-weight: var(--font-medium)
			}

		section#but #skills .skills_container ul {
			margin-top: 35px;
			margin-left: 50px;
			display: none;
		}

		section#but #skills .skills_container ul.active {
			display: block;
		}

			section#but #skills .skills_container ul li {
				font-size: 15px;
				font-weight: var(--font-light);
			}

			section#but #skills .skills_container ul li::before {
				content: "-";
				margin-right: 10px;				
			}





























/*Section Department*/
section#department p {
	font-size: 23px;
	font-weight: var(--font-light);
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

section#department #video {
	position: relative;
}

section#department #video::after {
	content: "";
	display: block;
	border: 3px solid var(--color-dark-purple);
	position: absolute;
	width: 550px;
	height: 100%;
	top: 15px;
	left: calc(50% - 3px);
	pointer-events: none;
	transform: rotate(4deg) translateX(-50%);
}

	section#department #video iframe {
		display: block;
		margin: 80px auto 0 auto;
		position: relative;
		width: 550px;
	}

/*Section teachers*/
section#team #teachers {
	display: flex;
	margin-bottom: 100px;
	flex-wrap: wrap;
	justify-content: space-between;
}

	section#team #teachers .column_teacher {
		text-align: center;
		width: 300px;
		margin-bottom: 100px;
	}

	section#team #teachers .column_teacher:last-of-type {
		margin: 0 auto;
	}

		section#team #teachers .column_teacher >img {
			width: 200px;
			height: 200px;
		}

		section#team #teachers .column_teacher >h3 {
			font-size: 30px;
			text-align: center;
			font-weight: var(--font-semi-bold);
			margin-bottom: 25px;
			margin-top: 30px;
		}

		section#team #teachers .column_teacher >h4 {
			font-size: 28px;
			text-align: center;
			font-weight: var(--font-medium);
			color: #9B3BB7;
			margin-bottom: 25px;
		}

		section#team #teachers .column_teacher >p {
			font-size: 15px;
			text-align: center;
			font-weight: var(--font-light);
		}