
body
{
	background-color: #181818;
	font-family: Raleway, sans-serif;
}



#wrap
{
	padding: 0px 240px 0px 185px;
}

	h1
	{
		font-size: 70px;
		color: white;
		font-weight: 300;
		margin-top: 200px;
	}

		h1::after
	    {
	        display: block;
			content: "";
			width: 23%;
			height: 64px;
			background-color: #9B3BB7 ;
			margin-top: -35px;
			margin-left: 28px;
			margin-bottom: 100px;
	    }

	p
	{
		color: white;
		font-weight: 300;
		font-size: 18px;
	}

		p span
		{
			font-weight: 500;
		}

	p.competences
	{
		text-align: right;
		width: 500px;
		margin-right: 0;
		margin-left: auto;
	}
		
		p.competences::after
		{
			display: block;
			content: "";
			width: 463px;
			height: 95px;
			background-color: #491658;
			margin-top: -55px;
			margin-left: -100px;
			margin-bottom: 50px;
		}

	p:nth-of-type(2)
	{
		width: 500px;
		margin-bottom: 100px;
	}



h2.right_title
{
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: #7A1497;
	margin-bottom: 60px;
}

p.content
{
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	color: white;
	width: 772px;
}
