@media only screen and (max-width : 1200px) {
	section#testimony div.scene img:nth-child(4) {
		margin-left: 350%;
	}
}

@media only screen and (max-width : 1065px) {
	section#testimony div.scene img:nth-child(4) {
		margin-left: 100%;
	}
}

@media only screen and (max-width : 1024px) {
	section#testimony div.witness>p {
		width: 100%;
		margin-top: 50px;
	}

	section#testimony div.witness {
		justify-content: flex-start;
	}

	section#testimony div.witness div:nth-child(2) {
		margin-left: 20px;
		
	}
	
}


@media only screen and (max-width : 700px) {

	section#testimony div.witness div:nth-child(2) {
		margin-left: 0;
		margin-top: 20px;
		width: 100%;
		
	}
}


@media only screen and (max-width : 560px) {
	section#testimony div.witness .img_container {
		width: 150px;
		height: 150px;
	}

	section#testimony div.witness div:nth-child(2) h3 {
		font-size: 18px;
	}

	section#testimony div.witness div:nth-child(2) h4 {
		margin: 15px 0;
	}
}