@media only screen and (max-width : 1536px)
{

}

@media only screen and (max-width : 1440px)
{

}

@media only screen and (max-width : 1368px)
{

	div#scene
	{
		display: none;
	}

	section#testimony
	{
		padding: 0 50px;
	}

		section#testimony div.witness
		{
			flex-wrap: wrap;

		}

		section#testimony div.witness>p
		{
			max-width: 100%;
			margin-top: 5%;
		}


}

@media only screen and (max-width : 1024px)
{


}

@media only screen and (max-width : 900px)
{

}

@media only screen and (max-width : 740px)
{

	h2
	{
		
	}
	
}

@media only screen and (max-width : 375px)
{

	h2::after
    {
		width: 80%;
		height: 35px;
		margin-top: -20px;
		margin-left: 10px;
    }

	section#testimony
	{
		padding: 0 20px;
	}

	section#testimony div.witness{
		display: flex;
		margin: 10px 10px;
		padding: 20px 0px;
	}


		section#testimony h2
		{
			font-size: 40px;
		}

		section#testimony div.witness h3
		{
			font-weight: bold;
			font-size: 16px;
		}

		section#testimony div.witness h4
		{
			font-size: 10px;
			background-color: transparent;
			margin: 15px 0;
		}

		section#testimony div.witness p
		{
			font-size: 10px;
		}

		section#testimony div.witness p
		{
			max-width: 100%;
		}

		section#testimony div.witness div.img_container
		{
			min-width: 100px;
			min-height: 100px;
			max-width: 100px;
			max-height: 100px;
		}

		section#testimony div.witness div.img_container,
		section#testimony div.witness div.img_container + div
		{
			margin: 0 0px;
		}

		section#testimony div.witness div.img_container + div
		{
			min-width: 150px;
			margin-left: 20px;
		}

}