div.wrap_footer {
	background-color:black;
	padding: 0 185px; 
	
	div.left
	{
		width: calc(100% / 3);
		
		#twitter
		{
			margin-right: 34px;
		}

		#facebook
		{
			margin-right: 34px;
		}

	}

	h3.center
	{   width: calc(100% / 3);
		font-family: 'Raleway';
		color: white;
		text-align: center;
		font-size: 17px;
		
		
	}

	h3.centerbot
	{   width: calc(100% / 3);
		font-family: 'Raleway';
		color: white;
		text-align: center;
		font-size: 17px;
		padding-bottom: 87px;	
	}

	span.grey 
	{
		color: #B5B5B5;
		opacity: 0.4;
	}

	div.right
	{
		width: calc(100% / 3);
		text-align: right;
	}



	div#top
	{
		display: flex;
		padding-top: 70px;
	}

	div#bottom
	{
		display: flex;
		padding-top: 35px;
	}






}