div.wrap_footer {
	background-color:black;
	padding: 0 185px; 
	div.left
	{
		width: calc(100% / 3);
		
		#twitter
		{
			margin-right: 34px;
		}

		#facebook
		{
			margin-right: 34px;
		}

	}

	div.left_bot
	{
		width: calc(100% / 3);
	}

	h3.center
	{   width: calc(100% / 3);
		font-family: 'Raleway', sans-serif;
		color: white;
		text-align: center;
		font-size: 17px;
		
		
	}

	h3.centerbot
	{   width: calc(100% / 3);
		font-family: 'Raleway', sans-serif;
		color: white;
		text-align: center;
		font-size: 17px;
		padding-bottom: 87px;	
	}

	span.grey 
	{
		color: #B5B5B5;
		opacity: 0.4;
	}

	div.right
	{
		width: calc(100% / 3);
		text-align: right;

		>img {
			cursor: pointer;
		}
	}

	div.right_bot
	{
		width: calc(100% / 3);
		text-align: right;
	}



	div#top
	{
		display: flex;
		padding-top: 70px;
	}

	div#bottom
	{
		display: flex;
		padding-top: 35px;
	}

	div.wrap_footer div.right_bot {
		transform: scale(0.9);
	}

}

@media only screen and (max-width : 1024px){
	div.wrap_footer
	{
		background-color:black;
		padding: 0 75px;
	}
}

@media only screen and (max-width : 768px){
	div.wrap_footer
	{
		background-color:black;
		padding: 0 35px;

		h3.center
		{   width: calc(100% / 3);
			font-size: 13px;


		}

		h3.centerbot
		{   width: calc(100% / 3);
			font-size: 13px;
		}
	}

}


@media only screen and (max-width : 650px){
	div.wrap_footer
	{
		background-color:black;
		padding: 0 35px; 


		h3.center
		{   width:100%;
			font-size: 17px;
			padding-top: 60px;
			padding-bottom: 30px;	
		}

		div.left
		{
			width: 100%;
			text-align: center;
			margin-top: 50px;

			#twitter
			{
				margin-right: 34px;
			}

			#facebook
			{
				margin-right: 34px;
			}

		}

		div.right
		{
			margin-top: -240px;
			text-align: center;
			padding-bottom: 280px;
			z-index: 20;
			width: 100%;
		}

		div#top
		{
			display: flex;
			padding-top: 70px;
			flex-direction: column;
		}

		div#bottom
		{
			display: flex;
			padding-top: 35px;
			flex-direction: column;
		}

		h3.centerbot
		{   
			width: 100%;
			font-size: 17px;
			margin-top: -200px;		
		}

		div.left_bot
		{
			text-align: left;
		}


		div.right_bot
		{
			text-align: right;
			width: auto;
			margin-top: -5vh;
		}

		div.wrap_footer div.right > img {
			margin-top: -12px;
		}

	}	

}



@media only screen and (max-width : 530px){

	div.wrap_footer div.right_bot
		{
			margin-top: -7.5vh;
		}


}

@media only screen and (max-width : 400px){
	div.wrap_footer
	{
		background-color:black;
		padding: 0 35px; 
		padding-bottom: 20px;


		h3.center
		{   width:100%;
			font-size: 17px;
			padding-top: 60px;
			padding-bottom: 30px;	
		}

		div.left
		{
			width: 100%;
			margin-top: 50px;

			#twitter
			{
				margin-right: 34px;
			}

			#facebook
			{
				margin-right: 34px;
			}

		}

		div.right
		{
			margin-top: -240px;
			padding-bottom: 280px;
			z-index: 20;
			width: 100%;
		}

		div#top
		{
			padding-top: 70px;
		}

		div#bottom
		{
			padding-top: 35px;
			img {
				transform: scale(0.6);
			}
		}

		div.wrap_footer div.right_bot {
			transform: scale(0.55);
		}

		h3.centerbot
		{   
			width: 100%;
			font-size: 17px;
			margin-top: -200px;		
		}

		div.left_bot
		{
			text-align: left;
		}


		div.right_bot
		{
			text-align: right;
			width: auto;
		}

	}	

}

@media only screen and (max-width : 371px) {

	div.wrap_footer div.right_bot {
		margin-top: -10vh;
	}
}
