div.wrap_footer {
  background-color: black;
  padding: 0 185px; }
  div.wrap_footer div.left {
    width: calc(100% / 3); }
    div.wrap_footer div.left #twitter {
      margin-right: 34px; }
    div.wrap_footer div.left #facebook {
      margin-right: 34px; }
  div.wrap_footer div.left_bot {
    width: calc(100% / 3); }
  div.wrap_footer h3.center {
    width: calc(100% / 3);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 17px; }
  div.wrap_footer h3.centerbot {
    width: calc(100% / 3);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 17px;
    padding-bottom: 87px; }
  div.wrap_footer span.grey {
    color: #B5B5B5;
    opacity: 0.4; }
  div.wrap_footer div.right {
    width: calc(100% / 3);
    text-align: right; }
  div.wrap_footer div.right img{
    cursor: pointer; }
  div.wrap_footer div.right_bot {
    width: calc(100% / 3);
    text-align: right; }
  div.wrap_footer div#top {
    display: flex;
    padding-top: 70px; }
  div.wrap_footer div#bottom {
    display: flex;
    padding-top: 35px; }

@media only screen and (max-width: 1024px) {
  div.wrap_footer {
    background-color: black;
    padding: 0 75px; } }
@media only screen and (max-width: 768px) {
  div.wrap_footer {
    background-color: black;
    padding: 0 35px; }
    div.wrap_footer h3.center {
      width: calc(100% / 3);
      font-family: 'Raleway', sans-serif;
      color: white;
      text-align: center;
      font-size: 13px; }
    div.wrap_footer h3.centerbot {
      width: calc(100% / 3);
      font-family: 'Raleway', sans-serif;
      color: white;
      text-align: center;
      font-size: 13px;
      padding-bottom: 87px; } }
@media only screen and (max-width: 375px) {
  div.wrap_footer {
    background-color: black;
    padding: 0 35px; }
    div.wrap_footer h3.center {
      width: 100%;
      font-family: 'Raleway', sans-serif;
      color: white;
      text-align: center;
      font-size: 17px;
      padding-top: 60px;
      padding-bottom: 30px; }
    div.wrap_footer div.left {
      width: 100%;
      text-align: center;
      margin-top: 50px; }
      div.wrap_footer div.left #twitter {
        margin-right: 34px; }
      div.wrap_footer div.left #facebook {
        margin-right: 34px; }
    div.wrap_footer div.right {
      text-align: center;
      margin-left: auto;
      margin-top: -240px;
      padding-bottom: 280px;
      z-index: 20;
      width: 100%; }
    div.wrap_footer div#top {
      display: flex;
      padding-top: 70px;
      flex-direction: column; }
    div.wrap_footer div#bottom {
      display: flex;
      padding-top: 35px;
      flex-direction: column; }
    div.wrap_footer h3.centerbot {
      width: 100%;
      font-family: 'Raleway', sans-serif;
      color: white;
      text-align: center;
      font-size: 17px;
      margin-top: -200px; }
    div.wrap_footer div.left_bot {
      text-align: left; }
    div.wrap_footer div.right_bot {
      text-align: right;
      margin-top: -45px;
      padding-bottom: 116px;
      margin-left: auto;
      width: auto; } }
