header .filter {
	opacity: 0.3;
}

header #scroll {
	position: absolute;
	left: 50%;
	bottom: 100px;
	transform: translateX(-50%);
}

	header #scroll img{
		height: 20px;
		padding: 10px;
		cursor: pointer;
	}

header #header2 {
	display: flex;
	justify-content: space-between;
}

	header #header2 #social {
		margin-top: 12%;
		margin-left: 160px;
	}

		header #header2 #social a {
			margin-right: 35px;
		}

			header #header2 #social a:last-of-type {
				margin-right: 0px;
			}

			header #header2 #social a >img {
				height: 30px;
			}

	header #header2 #menu2 {
		margin-top: 5%;
		margin-right: 150px;
		position: relative;
	}

		header #header2 #menu2 >img{
			position: absolute;
			bottom: 0;
			right: 0;
			height: 30%;
		}

		header #header2 #menu2 ul{
			
		}

			header #header2 #menu2 li{
				margin-bottom: 20px;
				text-align: right;
			}

				header #header2 #menu2 li:last-of-type{
					margin-bottom: 0px;
				}

				header #header2 #menu2 li a{
					color: white;
					font-family: 'Raleway', sans-serif;
					font-weight: 400;
					font-size: 22px;	
				}