@media all and (max-width: 1172px) {
	h1 {
		margin-top: 20%;
	}

	header #menu .burger {
		display: block;
	}

	header #menu nav {
		display: none;
	}

	header .side_menu nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header #second_header {
		display: none;
	}

	header .scene {
		top: 15%;
		left: 10%;
	}
}

@media all and (max-width: 1000px) {
	h1 {
		margin-left: 100px;
	}

	h1::after {
		width: 100%;
	}

	header .scene >div #header_empty_square_medium, >div #header_empty_triangle_medium {
		display: none;
	}
}

@media all and (max-width: 733px) {
	h1 {
		margin-top: 30%;
		margin-left: 50px;
	}

	#menu >a >img {
		height: 80%;
	}

	h1::after {
		width: 150%;
	}

	header .scene >div #header_full_triangle_big {
		margin-left: 400px;
	}

	header .scene >div #header_empty_square_small {
		margin-left: 100px;
	}

	header .scene >div #header_full_triangle_medium {
		margin-left: 150px;
	}

	header .side_menu ul#side_links li {
		margin-right: 20px;
	}

	header .side_menu ul#side_links li a {
		font-size: 16px;
	}

}

@media all and (max-width: 500px) {
	h1::after {
		width: 200%;
	}

	header #menu {
		padding: 30px 40px 0 40px;
	}

	header .scene >div #header_empty_triangle_small {
		margin-top: -70px;
	}

	header .scene >div >img {
		transform: scale(0.5,0.5);
	}
}