h1::after {
	transform: translateY(-50%);
}

header .filter {
	opacity: 0.3;
}

header #scroll {
	position: absolute;
	left: 50%;
	bottom: 100px;
	transform: translateX(-50%);
}

	header #scroll img{
		height: 20px;
		padding: 10px;
		cursor: pointer;
	}

header #header2 {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	bottom: 0;
	left: 0;
	margin-bottom: 100px;
}

	header #header2 #social {
		margin-top: 12%;
		margin-left: 160px;
	}

		header #header2 #social a {
			margin-right: 35px;
		}

			header #header2 #social a:last-of-type {
				margin-right: 0px;
			}

			header #header2 #social a >img {
				height: 30px;
			}

	header #header2 #menu2 {
		margin-top: 5%;
		margin-right: 150px;
		position: relative;
	}

		header #header2 #menu2 >img{
			position: absolute;
			bottom: 0;
			right: 0;
			height: 30%;
		}

		header #header2 #menu2 ul{
			
		}

			header #header2 #menu2 li{
				margin-bottom: 20px;
				text-align: right;
			}

				header #header2 #menu2 li:last-of-type{
					margin-bottom: 0px;
				}

				header #header2 #menu2 li a{
					color: white;
					font-family: 'Raleway', sans-serif;
					font-weight: 400;
					font-size: 22px;	
				}

header .scene {
	position: absolute;
	top: 10%;
	left: 22%;
}

	header .scene >div >img {
		transform: scale(0.7,0.7);
	}

	header .scene >div #header_empty_square_small {
		margin-top: 350px;
		margin-left: 200px;
	}

	header .scene >div #header_empty_square_medium {
		margin-top: 110px;
		margin-left: 800px;
	}

	header .scene >div #header_full_triangle_small {
		margin-top: 100px;
		margin-left: 500px;
	}

	header .scene >div #header_full_triangle_medium {
		margin-top: 410px;
		margin-left: 250px;
	}

	header .scene >div #header_full_triangle_big {
		margin-top: 300px;
		margin-left: 600px
	}

	header .scene >div #header_empty_triangle_medium {
		margin-top: 130px;
		margin-left: 900px;
	}