@media all and (max-width: 1172px) {
	header #menu nav .burger {
		display: block;
	}

	header #menu nav {
		display: none;
	}

	header .side_menu nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/*@media all and (max-width: 1440px) {
	header h1 {
		margin-top: 15%;
		margin-left: 120px;
	}

	header div#menu a img {
		width: 75%;
	}
}*/

/*@media all and (max-width: 1300px) {
	header h1 {
		margin-top: 20%;
	}

	header > h1::after {
		width: 11em;
	}
}*/

/*@media all and (max-width: 1024px) {
	header h1 {
		margin-top: 20%;
		margin-left: 90px;
	}

	header div.social {
		width: 55%;
	}

	header span.line {
		width: 40%;
	}

	header div.side_menu div.social {
		width: 20%;
	}
}*/

/*@media all and (max-width: 740px) {
	header h1 {

		font-size: 50px;
		margin-left: 50px;
	}

	header div.scene {
		display: block;
	    top: 50%;
    	left: 2%;
	}

	header div.side_menu div.social {
		width: 25%;
	}
}*/

/*@media all and (max-width: 560px) {
	header h1 {
		font-size: 40px;
	}

	header div#menu a img {
		width: 80px;
	}

	header div.side_menu div.social {
		width: 30%;
	}
}*/

/*@media all and (max-width: 425px) {
	header div.side_menu div.social {
		width: 40%;
	}
}*/

/*@media all and (max-width: 375px) {
	header h1 {
		font-size: 35px;

	}

	header #menu,
	img.cross {
    	padding: 50px 20px 0 20px
	}

	header div#menu a img {
		width: 80px;
	}

	header > h1::after {
		height: 40%;
	}

	header div.side_menu div.social {
		width: 55%;
	}
}*/