$bg-color: #181818;

a {
	text-decoration: none;
	color: black;
}

#bold_title {
	font-weight: 800;
}

header {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;

	>img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
		width: 100%;
	}

	.filter {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -5;
		opacity: 0.7;
	}

	#menu {
		display: flex;
		padding: 50px 60px 0 60px;
		justify-content: space-between;

		nav {
			ul {
				display: flex;
				margin-top: 10px;
				position: relative;

				li {
					margin-right: 50px;

					a {
						font-family: 'Raleway', sans-serif;
						font-weight: 500;
						color: white;
						font-size: 20px;
					}

					&:last-of-type {
						margin-right: 0;
					}
				}

				&::after {
					display: block;
					height: 100%;
					width: 100%;
					background-color: rgba(255,255,255,0.4);
					position: absolute;
					top: calc(100% - 5px);
					left: 25px;
					content: '';
				}
			}
		}
	}

	>h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 60px;
		color: white;
		margin-top: 10%;
		margin-left: 160px;
		width: 60%;
	}
}

.wrap {
	padding: 0 185px;
	background-color: $bg-color;
}