:root {
  /*Fonts*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  /*Colors*/
  --color-red: #971212;
  --color-dark-red: #590909;
  --color-pink: #BE1E83;
  --color-purple: #A93DC8;
  --color-dark-purple: #7A1497;
  --color-light-blue: #2079D2;
  --color-dark-blue: #382EC5;
  --color-green: #399F41;
  --color-dark-green: #266D2B;
  --color-cyan: #258DA2;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #181818;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
  overflow-x: hidden;
}

p a {
  text-decoration: underline;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  color: white;
  margin-top: 10%;
  margin-left: 160px;
  width: 60%;
  position: relative;
  line-height: 1em;
}

h1::after {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  width: 75%;
  left: -160px;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}

h2 {
  font-size: 40px;
  font-weight: var(--font-light);
  margin-bottom: 120px;
  position: relative;
  display: inline-block;
  z-index: 5;
  margin-left: -30px;
  line-height: 1.1em;
}

h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 100%;
  height: 80%;
  z-index: -1;
}

section {
  color: white;
  padding: 150px 0;
  position: relative;
}

strong {
  font-weight: var(--font-bold);
}

.bold {
  font-weight: var(--font-extra-bold);
}

.wrap {
  margin: 0 180px;
}

.scene {
  position: absolute;
}

.maj {
  text-transform: uppercase;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

header .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
}

header .side_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 20;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #181818;
}

header .side_menu.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .side_menu a {
  font-size: 20px;
  font-weight: var(--font-medium);
}

header .side_menu .top img.cross {
  padding: 50px 30px 0 60px;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  cursor: pointer;
}

header .side_menu nav li {
  text-align: center;
  margin-bottom: 55px;
}

header .side_menu .line {
  width: 30%;
  height: 5px;
  background-color: white;
}

header .side_menu #side_social {
  width: 100%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .side_menu #side_social a:nth-of-type(2) {
  margin: 0 50px;
}

header .side_menu #side_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .side_menu #side_links a {
  font-size: 13px;
}

header .side_menu #side_links a:nth-of-type(2) {
  margin: 10px 0;
}

header #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 60px 0 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #menu .burger {
  display: none;
  cursor: pointer;
}

header #menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  position: relative;
}

header #menu nav ul li {
  margin-right: 50px;
}

header #menu nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 20px;
}

header #menu nav ul li:last-of-type {
  margin-right: 0;
}

header #menu nav ul::after {
  display: block;
  height: 90%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: calc(90% - 5px);
  left: 25px;
  content: '';
}

header #second_header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 100px;
  z-index: 15;
}

header #second_header #social {
  margin-top: 12%;
  margin-left: 160px;
}

header #second_header #social a {
  margin-right: 35px;
}

header #second_header #social a:last-of-type {
  margin-right: 0px;
}

header #second_header #social a img {
  height: 30px;
}

header #second_header #second_menu {
  margin-top: 5%;
  margin-right: 150px;
  position: relative;
}

header #second_header #second_menu img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
  pointer-events: none;
}

header #second_header #second_menu ul li {
  margin-bottom: 20px;
  text-align: right;
}

header #second_header #second_menu ul li:last-of-type {
  margin-bottom: 0px;
}

header #second_header #second_menu ul li a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

header #scroll {
  position: absolute;
  left: 50%;
  bottom: 100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 16;
}

header #scroll img {
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

header .scene {
  position: absolute;
  top: 10%;
  left: 22%;
}

header .scene > div > img {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

header .scene > div #header_empty_square_small {
  margin-top: 350px;
  margin-left: 200px;
}

header .scene > div #header_empty_square_medium {
  margin-top: 110px;
  margin-left: 800px;
}

header .scene > div #header_full_triangle_small {
  margin-top: 100px;
  margin-left: 500px;
}

header .scene > div #header_full_triangle_medium {
  margin-top: 410px;
  margin-left: 250px;
}

header .scene > div #header_full_triangle_big {
  margin-top: 300px;
  margin-left: 600px;
}

header .scene > div #header_empty_triangle_medium {
  margin-top: 130px;
  margin-left: 900px;
}
/*# sourceMappingURL=header.css.map */