@media all and (max-width: 1172px) {
	h1 {
		margin-top: 20%;
	}

	header #menu .burger {
		display: block;
	}

	header #menu nav {
		display: none;
	}

	header .side_menu nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header #second_header {
		display: none;
	}

	header .scene {
		top: 15%;
		left: 10%;
	}

/*
		header .scene #header_empty_square_small {
			margin-top: 350px;
			margin-left: 200px;
		}

		

		header .scene #header_full_triangle_small {
			margin-top: 100px;
			margin-left: 500px;
		}

		header .scene #header_full_triangle_medium {
			margin-top: 410px;
			margin-left: 250px;
		}

		

		
*/
}

@media all and (max-width: 1000px) {
	h1 {
		margin-left: 100px;
	}

	h1::after {
		width: 100%;
	}

	header .scene #header_empty_square_medium {
		display: none;
	}
}

@media all and (max-width: 733px) {
	h1 {
		margin-top: 30%;
		margin-left: 50px;
	}

	#menu >a >img {
		height: 80%;
	}

	h1::after {
		width: 150%;
	}

	header .scene #header_full_triangle_big {
		margin-left: 100px;
	}
}

@media all and (max-width: 500px) {
	h1 {
		
	}

	h1::after {
		width: 200%;
	}

	header #menu {
		padding: 30px 40px 0 40px;
	}

	
}