/*Variables*/
:root {
	/*Fonts*/
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;
	--font-extra-bold: 800;

	/*Colors*/
	--color-red: #971212;
	--color-pink: #BE1E83;
	--color-purple: #A93DC8;
	--color-light-blue: #2079D2;
	--color-dark-blue: #382EC5;
	--color-green: #399F41;
	--color-cyan: #258DA2;
}

/*General*/

section {
	color: white;
	font-family: 'Raleway', sans-serif;
	padding: 150px 0;
}

h2 {
	font-size: 40px;
	font-weight: var(--font-light);
	margin-bottom: 120px;
	position: relative;
	display: inline-block;
	z-index: 5;
	text-transform: uppercase;
}

	h2:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 15px;
		width: 100%;
		height: 100%;
		z-index: -1;

	}

.link_button {
	font-weight: var(--font-light);
	font-size: 22px;
	padding: 25px 65px;
	display: inline-block;
	margin-top: 150px;
	color: white;
	margin-left: 50%;
	transform: translateX(-50%);
}

/*Section Skills*/

section#skills {
	position: relative;
}

	section#skills h2:after{
		background-color: var(--color-red);
	}

	section#skills #skills_container {
		margin-left: 30px;
		display: flex;
		align-items: center;
	}

		section#skills #skills_container >p {
			font-size: 16px;
			font-weight: var(--font-regular);
		}

		section#skills #skills_container #skills_content {
			display: flex;
			margin: 0 100px;
			height: 340px;
		}

			section#skills #skills_container #skills_content >div {
				width: 70px;
				height: 300px;
				margin-right: 100px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				white-space: nowrap;
			}

				section#skills #skills_container #skills_content >div p {
					font-weight: var(--font-light);
					font-size: 18px;
				}

				section#skills #skills_container #skills_content >div:nth-child(2n) {
					align-self: flex-end;
					flex-direction: column-reverse;
				}

				section#skills #skills_container #skills_content >div:last-of-type {
					margin-right: 0px;
				}

				section#skills #skills_container #skills_content >div:nth-child(1) {
					background-color: var(--color-red);
				}

				section#skills #skills_container #skills_content >div:nth-child(2) {
					background-color: var(--color-pink);
				}

				section#skills #skills_container #skills_content >div:nth-child(3) {
					background-color: var(--color-purple);
				}

				section#skills #skills_container #skills_content >div:nth-child(4) {
					background-color: var(--color-light-blue);
				}

				section#skills #skills_container #skills_content >div:nth-child(5) {
					background-color: var(--color-green);
				}

	section#skills .link_button {
		background: linear-gradient(90deg, var(--color-red) 0%, #590909 100%);
	}

	section#skills .scene {
		position: absolute;
		top: 0;
		left: 0;
	}

/*Section Stats*/
section#stats {

}

	section#stats h2:after{
		background-color: var(--color-pink);
	}

	section#stats #stats_container {
		display: flex;
		justify-content: space-between;
		margin-left: 30px;
	}

		section#stats #stats_container .stats_content {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

			section#stats #stats_container .stats_content >div {
				width: 250px;
				height: 250px;
			}

				section#stats #stats_container .stats_content:nth-child(1) >div {
					border: 3px solid var(--color-red);
				}

				section#stats #stats_container .stats_content:nth-child(2) >div {
					border: 3px solid var(--color-purple);
				}

				section#stats #stats_container .stats_content:nth-child(3) >div {
					border: 3px solid var(--color-light-blue);
				}

				section#stats #stats_container .stats_content:nth-child(4) >div {
					border: 3px solid var(--color-green);
				}

				section#stats #stats_container .stats_content >div p {
					font-weight: var(--font-regular);
					font-size: 60px;
					margin-top: 50%;
					transform: translateY(-50%);
				}

			section#stats #stats_container .stats_content >p {
				font-weight: var(--font-light);
				font-size: 18px;
				margin-top: 40px;
				max-width: 250px;
			}

/*Section Department*/
section#department {

}

	section#department h2:after{
		background-color: var(--color-purple);
	}

	section#department #department_slider {
		position: relative;
		height: 300px;
		width: 400px;
		margin: 0 auto;
	}

		section#department #department_slider >img {
			height: 300px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
		}

		section#department #department_slider #department_border {
			position: relative;
			z-index: 10;
		}

			section#department #department_slider #department_border::after {
				content: "";
				display: block;
				position: absolute;
				top: -3px;
				left: 0;
				border: 3px solid var(--color-purple);
				width: 120%;
				height: 100%;
				transform: rotate(4deg);
			}

			section#department #department_slider #department_border >img {
				height: 300px;
			}

		section#department #department_slider .department_selected {
			z-index: 10;
		}

		section#department #department_slider .department_prev {
			opacity: 0.5;
			transform: translateX(-60%) scale(0.8);
		}

		section#department #department_slider .department_next {
			opacity: 0.5;
			transform: translateX(60%) scale(0.8);
		}

		section#department #department_slider .department_hide {
			display: none;
		}

	section#department #department_arrows {
		
	}

	section#department .link_button{
		background: linear-gradient(90deg, var(--color-purple) 0%, #65107D 100%);
	}

/*Section Highlights*/
section#highlights {

}

	section#highlights h2:after {
		background-color: var(--color-dark-blue);
	}

	section#highlights #video {
		margin: 0 auto;
		width: 700px;
		position: relative;
	}

		section#highlights #video::after {
			content: "";
			display: block;
			position: absolute;
			top: -3px;
			left: 0;
			width: 100%;
			height: 100%;
			border: 3px solid var(--color-dark-blue);
			pointer-events: none;
			transform: rotate(-6deg);
		}

		section#highlights #video iframe {
			width: 100%;
		}

	section#highlights .link_button {
		background: linear-gradient(90deg, var(--color-dark-blue) 0%, #1C148A 100%);
	}

/*Section International*/
section#international {

}

	section#international h2:after {
		background-color: var(--color-cyan);
	}

	section#international p {
		text-align: center;
	}

	section#international #international_content {
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
	}

		section#international #international_content #international_slider {
			display: flex;
			align-items: center;
			width: 70%;
		}

		section#international #international_content #international_slider .border {
			position: relative;
		}

			section#international #international_content #international_slider .border::after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: -3px;
				left: 0;
				border: 3px solid var(--color-cyan);
				transform: rotate(4deg);
			}

		section#international #international_content #international_slider .border img {
			height: 300px;
		}

		section#international #international_content #international_slider .international_first {

		}

		section#international #international_content #international_slider .international_second {
			height: 200px;
		}

		section#international #international_content #international_slider #international_arrows{
			display: flex;
			position: absolute;
		}

		section#international #international_content p {
			width: 20%;
			text-align: left;
		}

	section#international .link_button {
		background: linear-gradient(90deg, var(--color-cyan) 0%, #005F70 100%);
	}

/*Section Testomny*/
section#testimony {

}

	section#testimony h2:after {
		background-color: var(--color-green);
	}

	section#testimony .testimony_container {
		display: flex;
		margin-left: 30px;
		position: relative;
	}

	section#testimony .normal {
		margin-bottom: 100px;
	}

		section#testimony .normal .testimony_titles {
			margin-left: 40px;
		}

		section#testimony .reverse .testimony_titles {
			margin-right: 40px;
		}

			section#testimony .testimony_container .testimony_titles p:nth-of-type(1) {
				font-weight: var(--font-extra-bold);
				font-size: 30px;
			}

			section#testimony .testimony_container .testimony_titles p:nth-of-type(2) {
				font-weight: var(--font-medium);
				font-size: 28px;
				color: var(--color-green);
			}

			section#testimony .reverse .testimony_titles p {
				text-align: right;
			}

			section#testimony .normal .testimony_titles img {
				margin-left: 150px;
				margin-top: 10px;
			}

			section#testimony .reverse .testimony_titles img {
				margin-right: 150px;
				margin-top: 10px;
			}

		section#testimony .testimony_container .testimony_content {
			font-size: 18px;
			text-align: center;
			width: 40%;
			line-height: 20px;
			margin-top: 30px;
		}

		section#testimony .normal .testimony_content {
			margin-left: auto;
		}

		section#testimony .reverse .testimony_content {
			margin-right: auto;
		}

		section#testimony .testimony_container .testimony_img {
			position: relative;
		}

			section#testimony .testimony_container .testimony_img:after {
				content: "";
				display: block;
				position: absolute;
				top: -3px;
				left: 0;
				width: 100%;
				height: 100%;
				border: 3px solid var(--color-green);
			}

			section#testimony .normal .testimony_img:after {
				transform: rotate(-15deg);
			}

			section#testimony .reverse .testimony_img:after {
				transform: rotate(15deg);
			}

			section#testimony .normal .testimony_quote {
				position: absolute;
				top: -40px;
				right: -30px;
			}

			section#testimony .reverse .testimony_quote {
				position: absolute;
				top: -40px;
				left: -30px;
				transform: rotate(180deg);
			}

	section#testimony .link_button {
		background: linear-gradient(90deg, var(--color-green) 0%, #1B6E21 100%);
	}