h2::after {
	background-color: #2079D2 ;
}

section#map #map_container {
	position: relative;
}

	section#map #map_container .pins {
		cursor: pointer;
		fill: #2079D2;
	}

section#map #testimony_container {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

	section#map .testimony_content {
		background-color: #2C2B2B;
		padding: 50px;
		position: relative;
		width: 500px;
		display: none;
	}

	section#map .testimony_content.active {
		display: block;
	}

		section#map .testimony_content .cross {
			position: absolute;
			top: 50px;
			right: 50px;
			cursor: pointer;
		}

		section#map .testimony_content .content_head {
			display: flex;
		}

			section#map .testimony_content .content_head .img_after {
				height: 130px;
				width: 130px;
				position: relative;
			}

				section#map .testimony_content .content_head .img_after::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					border: 2px solid var(--color-light-blue);
					transform: rotate(9deg);
					position: absolute;
					top: -2px;
					left: -2px;
				}

				section#map .testimony_content .content_head .img_after >img {
					width: 130px;
					height: 130px;
				}

			section#map .testimony_content .content_head .infos {
				margin-left: 35px;
			}

				section#map .testimony_content .content_head .infos h4 {
					font-size: 20px;
					font-weight: var(--font-extra-bold);
				}

				section#map .testimony_content .content_head .infos p {
					margin-top: 10px;
				}

				section#map .testimony_content .content_head .infos p:nth-of-type(1) {
					font-size: 20px;
					font-weight: var(--font-medium);
					font-style: italic;
					background-color: var(--color-light-blue);
					display: inline-block;
					padding: 2px 7px;
				}

				section#map .testimony_content .content_head .infos p:nth-of-type(2) {

				}

		section#map .testimony_content h3 {
			font-size: 22px;
			font-weight: var(--font-extra-bold);
			color: var(--color-light-blue);
			margin-top: 40px;
		}

		section#map .testimony_content p {
			font-size: 15px;
			font-weight: var(--font-light);
		}

		section#map .testimony_content .text_quote {
			margin-top: 10px;
		}

		section#map .testimony_content .testimony {
			position: relative;
		}

			section#map .testimony_content .testimony p {
				font-style: italic;
				margin-top: 65px;
			}

			section#map .testimony_content .testimony .quote {
				position: absolute;
				height: 100px;
			}

			section#map .testimony_content .testimony .quote.first {
				top: -50px;
				left: 0;
			}

			section#map .testimony_content .testimony .quote.second {
				bottom: -30px;
				right: 0;
			}



















































	/*div.list_container
	{
		display: none;
	}


	div.map_container
	{
		display: flex;
		margin-top: 100px;
		position: relative;
	}

		div.map_container svg
		{
			width: 75%;
			z-index: 2;
		}

		

		.pins.active{
			fill: white;
		}

		div.map_container img.shadow
		{
			position: absolute;
			z-index: 1;
			width: 75%;
		}

		div.map_container div.pop_up
		{
			display: none;
		}

		div.map_container div.pop_up.active
		{
			background-color: #2C2B2B;
			width: 280px;
			padding: 50px 60px;
			color: white;
			position: absolute;
			right: 0;
			display: block;
			z-index: 3;
		}

			div.pop_up.active .cross
			{
				position: absolute;
				right: 20px;
				top:20px;
				width: 22px;
				cursor: pointer;
			}

			div.pop_up.active .header
			{
				display: flex;
				margin-bottom: 27px;
				line-height: 24px;
			}

				div.pop_up.active .header .img_after::after
				{

					content: "";
					border: #2079D2 solid 2px;
					display: block;
					width: 116px;
					height: 124px;
					transform: rotate(10deg);
					margin-top: -133px;
				}

					div.pop_up.active .header img
					{
						width:120px;
						margin-right: 40px;
					}

				div.pop_up.active .header .infos h3
				{
					font-size: 19px;
					font-weight: 800;
					margin-bottom: 12px;
				}

				div.pop_up.active .header .infos h4
				{
					font-size: 19px;
					font-weight: 500;
					font-style: italic;
					background-color: #2079D2;
					margin-bottom: 12px;
				}

				div.pop_up.active .header .infos p
				{
					font-weight: 300;
				}

		div.pop_up.active h3
		{
			font-size: 22px;
			font-weight: 800;
			color: #2079D2;
			margin-bottom: 10px;
		}

		div.pop_up.active p
		{
			font-weight: 300;
			font-size: 15px;
		}

		div.pop_up.active p:nth-of-type(2)
		{
			margin-top: 64px;
			font-style: italic;
			z-index: 2;
		}

		div.pop_up.active img.guillemet_1
		{
			transform: rotate(180deg);
			bottom: 107px;
			left:60px;
		}

		div.pop_up.active img.guillemet_2
		{
			bottom:9px; 
			right:60px;
		}

		div.pop_up.active img.guillemet_1, div.pop_up.active img.guillemet_2
		{

			width : 75px;
			z-index: 1;
			position: absolute;
		}

		div.fade-in.active
		{
			animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}*/

	








section#steps h3 {
	font-size: 70px;
	text-align: right;
}

section#steps >img {
	position: absolute;
	right: 0;
}

section#steps .container {
	margin-bottom: 140px;
}

section#steps .container:last-of-type {
	margin-bottom: 0;
}

section#steps .container:first-of-type {
	margin-top: 120px;
}

	section#steps .container h4 {
		font-size: 30px;
		font-weight: var(--font-semi-bold);
	}

	section#steps .container .content {
		display: flex;
		justify-content: space-between;
		margin-top: 35px;
	}

		section#steps .container .content p {
			width: 50%;
		}

		section#steps .container .content ul {
			width: 40%;
		}

			section#steps .container .content ul li {
				font-size: 15px;
				font-weight: var(--font-light);
				list-style: square;	
				padding-bottom: 15px;
				padding-left: 40px;
			}