/*General*/
h2::after {
	background-color: #2079D2 ;
}

/*Section Map*/
section#map #map_container {
	position: relative;
}

	section#map #map_container .pins {
		cursor: pointer;
		fill: #2079D2;
	}

	section#map #map_container .pins.active {
		fill: #FFF;
	}

section#map #testimony_container {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

	section#map .testimony_content {
		background-color: #2C2B2B;
		padding: 50px;
		position: relative;
		width: 500px;
		display: none;
	}

	section#map .testimony_content.active {
		display: block;
	}

		section#map .testimony_content .cross {
			position: absolute;
			top: 50px;
			right: 50px;
			cursor: pointer;
		}

		section#map .testimony_content .content_head {
			display: flex;
		}

			section#map .testimony_content .content_head .img_after {
				height: 130px;
				width: 130px;
				position: relative;
			}

				section#map .testimony_content .content_head .img_after::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					border: 2px solid var(--color-light-blue);
					transform: rotate(9deg);
					position: absolute;
					top: -2px;
					left: -2px;
				}

				section#map .testimony_content .content_head .img_after >img {
					width: 130px;
					height: 130px;
					object-fit: cover;
				}

			section#map .testimony_content .content_head .infos {
				margin-left: 35px;
			}

				section#map .testimony_content .content_head .infos h4 {
					font-size: 20px;
					font-weight: var(--font-extra-bold);
				}

				section#map .testimony_content .content_head .infos p {
					margin-top: 10px;
				}

				section#map .testimony_content .content_head .infos p:nth-of-type(1) {
					font-size: 20px;
					font-weight: var(--font-medium);
					font-style: italic;
					background-color: var(--color-light-blue);
					display: inline-block;
					padding: 2px 7px;
				}

				section#map .testimony_content .content_head .infos p:nth-of-type(2) {

				}

		section#map .testimony_content h3 {
			font-size: 22px;
			font-weight: var(--font-extra-bold);
			color: var(--color-light-blue);
			margin-top: 40px;
		}

		section#map .testimony_content p {
			font-size: 15px;
			font-weight: var(--font-light);
		}

		section#map .testimony_content .text_quote {
			margin-top: 10px;
		}

		section#map .testimony_content .testimony {
			position: relative;
		}

			section#map .testimony_content .testimony p {
				font-style: italic;
				margin-top: 65px;
			}

			section#map .testimony_content .testimony .quote {
				position: absolute;
				height: 100px;
			}

			section#map .testimony_content .testimony .quote.first {
				top: -50px;
				left: 0;
			}

			section#map .testimony_content .testimony .quote.second {
				bottom: -30px;
				right: 0;
			}

/*Responsive*/
section#map #resp_container {
	background-color: white;
	color: black;
	padding: 25px 15px;
/*	display: none;
*/}

	section#map #resp_container >p:nth-of-type(1) {
		font-size: 15px;
	}

	section#map #resp_container >label {
		font-size: 15px;
		font-weight: var(--font-bold);
		margin-top: 25px;
		margin-bottom: 15px;
	}

	section#map #resp_container .resp_content {
		display: none;
	}

	section#map #resp_container .resp_content.active {
		display: block;
	}

	section#map #resp_container select {
		outline: 0;
		margin-bottom: 30px;
		width: 100%;
		padding: 15px 0;
		box-shadow: none;
		border: 1px solid black;
		background-color: transparent;
	}

	section#map #resp_container select::after {
		border: none;
		outline: 0;
	}

		section#map #resp_container select option {
			
		}

		section#map #resp_container .resp_content .resp_content_head {
			display: flex;
		}

			section#map #resp_container .resp_content .resp_content_head .resp_img_after {

			}

				section#map #resp_container .resp_content .resp_content_head .resp_img_after img {
					height: 130px;
					width: 130px;
				}

			section#map #resp_container .resp_content .resp_content_head .resp_infos {
				margin-left: 15px;
			}

				section#map #resp_container .resp_content .resp_content_head .resp_infos h4 {
					font-size: 19px;
					font-weight: var(--font-extra-bold);
				}

				section#map #resp_container .resp_content .resp_content_head .resp_infos p:nth-of-type(1) {
					background-color: var(--color-light-blue);
					color: white;
					padding: 2px 7px;
					font-size: 19px;
					margin: 5px 0;
				}

				section#map #resp_container .resp_content .resp_content_head .resp_infos p:nth-of-type(2) {
				}

		section#map #resp_container .resp_content h3 {
			font-size: 22px;
			font-weight: var(--font-extra-bold);
			color: var(--color-light-blue);
			margin-top: 20px;
		}

		section#map #resp_container .resp_content .resp_text_quote {
			font-size: 12px;
			font-weight: var(--font-light);
			margin: 10px 0 30px 0;
		}

		section#map #resp_container .resp_content .resp_testimony {
			
		}

			section#map #resp_container .resp_content .resp_testimony p {
				font-size: 15px;
				font-weight: var(--font-light);
				font-style: italic;
			}

			section#map #resp_container .resp_content .resp_testimony .quote {
				position: absolute;
				height: 100px;
			}

			section#map #resp_container .resp_content .resp_testimony .quote.first {
				top: -50px;
				left: 0;
			}

			section#map #resp_container .resp_content .resp_testimony .quote.second {
				bottom: -30px;
				right: 0;
			}


/*Section Steps*/
section#steps h3 {
	font-size: 70px;
	text-align: right;
	line-height: 1.1em;
}

section#steps >img {
	position: absolute;
	right: 0;
}

section#steps .container {
	margin-bottom: 140px;
	position: relative;
}

section#steps .container:last-of-type {
	margin-bottom: 0;
}

section#steps .container:first-of-type {
	margin-top: 120px;
}

	section#steps .container h4 {
		font-size: 30px;
		font-weight: var(--font-semi-bold);
		line-height: 1.1em;
	}

	section#steps .container .content {
		display: flex;
		justify-content: space-between;
		margin-top: 35px;
		flex-wrap: wrap;
	}

		section#steps .container .content p {
			width: 50%;
		}

		section#steps .container .content ul {
			width: 40%;
		}

			section#steps .container .content ul li {
				font-size: 15px;
				font-weight: var(--font-light);
				list-style: square;	
				padding-bottom: 15px;
				padding-left: 40px;
			}

/*Parallax*/
section#steps >.scene {
	top: 10%;
	left: 5%;
}
	section#steps >.scene img:nth-of-type(2) {
		margin-left: 80px;
	}

section#steps .container:nth-of-type(1) .scene {
	bottom: 6%;
	left: 10%;
}
	section#steps .container:nth-of-type(1) .scene img:nth-of-type(2) {
		margin-left: 60px;
		margin-top: 30px;
	}

section#steps .container:nth-of-type(2) .scene {
	top: -20%;
	left: 50%;
}
	section#steps .container:nth-of-type(2) .scene img:nth-of-type(2) {
		margin-top: 60px;
	}

section#steps .container:nth-of-type(3) .scene {
	bottom: -50%;
}
	section#steps .container:nth-of-type(3) .scene img:nth-of-type(2) {
		margin-left: 60px;
	}

