@media only screen and (max-width : 880px) {
	/*Section Map*/
	section#map #map_container {
		display: none;
	}

	section#map #resp_container {
		display: block;
	}
	
	/*Section Steps*/
	section#steps h3 {
		font-size: 50px;
	}

	section#steps >img {
		display: none;
	}
}

@media only screen and (max-width : 675px) {
	/*Section Steps*/
	section#steps .container .content p, section#steps .container .content ul {
		width: 100%;
	}

	section#steps .container .content ul {
		margin-top: 30px;
	}

	section#steps .container .content ul li {
		padding-left: 10px;
	}
}

@media only screen and (max-width : 500px) {
	/*Section Steps*/
	section#steps h3 {
		font-size: 30px;
	}
}

@media only screen and (max-width : 400px) {
	/*Section Map*/
	section#map #resp_container .resp_content .resp_content_head {
		flex-wrap: wrap;
		justify-content: center;
		
	}

	section#map #resp_container .resp_content .resp_content_head img {
		margin-bottom: 20px;
	}
	
	
	section#map #resp_container .resp_content .resp_content_head .resp_infos {
		margin-left: 0;
	}


}