@media only screen and (max-width : 1440px){
div#wrap_text
{
	padding: 110px 120px;

}


h3#title_second
{
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: white;
	width: 100%;
	text-align: right;
}


img#sub_title
{
position: absolute;
margin-right: auto;
margin-left: auto;
right: 125px;				
}

h4.section_title
{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	color: white;
	width: 100%;
	text-align: left;
	font-weight: 600;
	padding-top: 122px;
}

p.complement
{

	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 517px;
	color: white;
	padding-top: 30px;
	line-height: 1.2;
}

div.paragraph_list
{
	display: flex;
}

ul
{
	padding-top: 30px;	
	padding-left: 140px;
}

li#choice
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: white;
	font-weight: 300;
	list-style: square;	
	padding-bottom: 15px;
	padding-left: 40px;
}

span#bold
{
	font-weight: bold;
}

img#paragraph_line
{
margin-top: 80px;
}

#top_blue_triangle
{
	padding-top: 150px;
	padding-left: 250px;
}

#mid_border_blue_triangle
{
	padding-top: 450px;
	padding-left: 175px;
}

#mid_grey_triangle
{
	padding-top: 470px;
	padding-left: 225px;
}

#mid_white_triangle
{
	padding-top: 590px;
	padding-left: 535px;
}

#mid_blue_triangle
{
	padding-top: 650px;
	padding-left: 535px;
}

#bottom_border_white_triangle
{
	padding-top: 1100px;
	padding-left: 155px;
}

#bottom_blue_square
{
	padding-top: 1100px;
	padding-left: 115px;
}
}


@media only screen and (max-width : 1368px){

#bottom_border_white_triangle
{
	padding-top: 1150px;
	padding-left: 355px;
}

#bottom_blue_square
{
	padding-top: 1150px;
	padding-left: 315px;
}
}

@media only screen and (max-width : 1024px){
div#wrap_text
{
	padding: 55px 60px;

}


h3#title_second
{
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: white;
	width: 100%;
	text-align: right;
}


img#sub_title
{
position: absolute;
margin-right: auto;
margin-left: auto;
right: 65px;				
}

h4.section_title
{
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	color: white;
	width: 100%;
	text-align: left;
	font-weight: 600;
	padding-top: 122px;
}

p.complement
{

	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 517px;
	color: white;
	padding-top: 30px;
	line-height: 1.2;
}

div.paragraph_list
{
	display: flex;
}

ul
{
	padding-top: 30px;	
	padding-left: 70px;
}

li#choice
{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: white;
	font-weight: 300;
	list-style: square;	
	padding-bottom: 15px;
	padding-left: 40px;
}

span#bold
{
	font-weight: bold;
}

img#paragraph_line
{
margin-top: 80px;
}

#top_blue_triangle
{
	padding-top: 170px;
	padding-left: 150px;
}

#mid_border_blue_triangle
{
	padding-top: 450px;
	padding-left: 175px;
}

#mid_grey_triangle
{
	padding-top: 470px;
	padding-left: 225px;
}

#mid_white_triangle
{
	padding-top: 720px;
	padding-left: 235px;
}

#mid_blue_triangle
{
	padding-top: 720px;
	padding-left: 335px;
}

#bottom_border_white_triangle
{
	padding-top: 1100px;
	padding-left: 155px;
}

#bottom_blue_square
{
	padding-top: 1100px;
	padding-left: 115px;
}

/*Carte interactive*/

	div.wrap
	{
		padding: 0 15px;
	}

	div.wrap h2
	{
		font-size: 40px;
	}

		div.wrap h2::after
		{
			width : 220px;
			height: 38px;
			margin-top: -20px;
			margin-left: 15px;
		}

	div.list_container
	{
		display: block;
		background-color: white;
		margin-top: 53px;
		padding: 25px 15px;
	}

		div.list_container p.intro
		{
			font-size: 15px;
		}

		div.list_container h5
		{
			font-weight: 700;
			font-size: 15px;
			margin-top: 24px;
			margin-bottom: 15px;
		}

			div.list_content
			{
				border:1px solid black;
				padding: 20px 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 80px;
				overflow: scroll;
				position: relative;

			}

				div.list_content div.list_header
				{
					display: flex;
					justify-content: center;
					position: relative;
					align-items: center;
					width: 100%;
				}

					div.list_content div.list_header img
					{
						position: absolute;
						right: 0;
					}

					div.list_content span
					{
						background-color: black;
						display: block;
						height: 1px;
						width: 107px;
						margin: 15px 0;
						color: white;
					}

					div.list_content div.pays
					{
						text-align: center;
						line-height: 26px;
						z-index: 1;
					}

					div.list_content div.gradient
					{
						display: block;
						height:30px;
						width: 100%;
						position: sticky;
						bottom: 0;
						background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
						z-index: 4;
					}



	div.scene
	{
		display: none;
	}

	div.map_container
	{
		display: none;
	}

	



}




@media only screen and (max-width : 375px){
div#wrap_text
{
	padding: 15px 15px;

}


h3#title_second
{
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	color: white;
	width: 100%;
	text-align: left;
	font-weight: 200;
}


img#sub_title
{
position: absolute;
margin-right: auto;
margin-left: auto;
width: 345px;
left: 15px;	
transform: rotate(180deg);			
}

h4.section_title
{
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	color: white;
	width: 100%;
	text-align: left;
	font-weight: 600;
	padding-top: 45px;
}

p.complement
{

	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 517px;
	color: white;
	padding-top: 30px;
	line-height: 1.2;
}

div.paragraph_list
{
	display: flex;
	flex-wrap: wrap;
}

ul
{
	padding-top: 30px;
	padding-left: 15px;	
}

li#choice
{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: white;
	font-weight: 300;
	list-style: square;	
	padding-bottom: 15px;
	padding-left: 40px;
}

span#bold
{
	font-weight: bold;
}

img#paragraph_line
{
margin-top: 40px;
width: 345px;
transform: rotate(-180deg);
}


#top_border_white_triangle
{
	display: none;
}

#top_blue_triangle
{
	padding-top: 170px;
	padding-left: 150px;
	display: none;
}

#mid_border_blue_triangle
{
	padding-top: 450px;
	padding-left: 175px;
	display: none;
}

#mid_grey_triangle
{
	padding-top: 470px;
	padding-left: 225px;
	display: none;
}

#mid_white_triangle
{
	padding-top: 720px;
	padding-left: 235px;
	display: none;
}

#mid_blue_triangle
{
	padding-top: 720px;
	padding-left: 335px;
	display: none;
}

#bottom_border_white_triangle
{
	padding-top: 1100px;
	padding-left: 155px;
	display: none;
}

#bottom_blue_square
{
	padding-top: 1100px;
	padding-left: 115px;
	display: none;
}

div#space
{
	padding-top: 100px;
}
}