h2::after {
	background-color: var(--color-light-blue) ;
}

	div.list_container {
		display: none;
	}

	/*div#scene1,
	div#scene2,
	div#scene3 {
		position: absolute;
		width:30%;

	}

	div#scene1 {
		top:154%;
		left:8%;
	}

	div#scene2 {
		top:190%;
		left:21%;
	}

		div#scene2 img.mid_blue_triangle_map {
			margin-left: -75px;
			margin-top: 146px;
		}

		div#scene2 img.mid_square_map {
			margin-left: -72px;
			margin-top: 110px;
		}

	div#scene3 {
		top:142%;
		left:78%;
		width:10%;
	}

		div#scene3 img.bottom_white_triangle_map {
			margin-left: -11px;
			margin-top: 8px;
		}	*/

	div.map_container {
		display: flex;
		margin-top: 100px;
		position: relative;
	}

		div.map_container svg {
			width: 75%;
			z-index: 2;
		}

		.pins {
			cursor: pointer;
			position: relative;
			fill: #2079D2;
		}

		.pins.active {
		}

		div.map_container img.shadow {
			position: absolute;
			z-index: 1;
			width: 75%;
		}

		div.map_container div.pop_up {
			display: none;
		}

		div.map_container div.pop_up.active {
			background-color: #2C2B2B;
			width: 280px;
			padding: 50px 60px;
			position: absolute;
			right: 0;
			display: block;
			z-index: 3;
		}

			div.pop_up.active .cross {
				position: absolute;
				right: 20px;
				top:20px;
				width: 22px;
				cursor: pointer;
			}

			div.pop_up.active .header {
				display: flex;
				margin-bottom: 27px;
			}

				div.pop_up.active .header .img_after::after {

					content: "";
					border: #2079D2 solid 2px;
					display: block;
					width: 116px;
					height: 124px;
					transform: rotate(10deg);
					margin-top: -133px;
				}

					div.pop_up.active .header img {
						width:120px;
						margin-right: 40px;
					}

				div.pop_up.active .header .infos h3 {
					font-size: 19px;
					font-weight: 800;
					margin-bottom: 12px;
				}

				div.pop_up.active .header .infos h4 {
					font-size: 19px;
					font-weight: 500;
					font-style: italic;
					background-color: #2079D2;
					margin-bottom: 12px;
				}

				div.pop_up.active .header .infos p {
					font-weight: 300;
				}

		div.pop_up.active h3 {
			font-size: 22px;
			font-weight: 800;
			color: #2079D2;
			margin-bottom: 10px;
		}

		div.pop_up.active p {
			font-weight: 300;
			font-size: 15px;
		}

		div.pop_up.active p:nth-of-type(2) {
			margin-top: 64px;
			font-style: italic;
			z-index: 2;
		}

		div.pop_up.active img.guillemet_1 {
			transform: rotate(180deg);
			bottom: 107px;
			left:60px;
		}

		div.pop_up.active img.guillemet_2 {
			bottom:9px; 
			right:60px;
		}

		div.pop_up.active img.guillemet_1, div.pop_up.active img.guillemet_2 {

			width : 75px;
			z-index: 1;
			position: absolute;
		}

		div.fade-in.active {
			animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}

		@keyframes fade-in {
		  0% {
		    opacity: 0;
		  }
		  100% {
		    opacity: 1;
		  }
		}

/*Section Steps*/
section#steps h3 {
	font-size: 70px;
	text-align: right;
}

section#steps #title_line {
	position: absolute;
	right: 0;				
}

section#steps .container {
	margin-top: 120px;
}

	section#steps .container h4 {
		font-size: 30px;
		font-weight: var(--font-semi-bold);
	}

	section#steps .container .content {
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
	}

		section#steps .container .content >p {
			font-size: 15px;
			width: 40%;
		}

		section#steps .container .content >ul {
			width: 40%;
		}

			section#steps .container .content >ul >li {
				font-size: 15px;
				font-weight: var(--font-light);
				list-style: square;	
				margin-bottom: 15px;
				padding-left: 40px;
			}

			section#steps .container .content >ul >li:last-of-type {
				margin-bottom: 0;
			}

/*#top_border_white_triangle {
	visibility: hidden;
}

#top_blue_triangle {
	padding-top: 150px;
	padding-left: 250px;
}

#mid_border_blue_triangle {
	padding-top: 450px;
	padding-left: 175px;
}

#mid_grey_triangle {
	padding-top: 470px;
	padding-left: 225px;
}

#mid_white_triangle {
	padding-top: 590px;
	padding-left: 535px;
}

#mid_blue_triangle {
	padding-top: 650px;
	padding-left: 535px;
}

#bottom_border_white_triangle {
	padding-top: 1150px;
	padding-left: 155px;
}

#bottom_blue_square {
	padding-top: 1150px;
	padding-left: 115px;
}*/