@media only screen and (max-width : 1650px)
{
.pop-up
{
	padding: 0 100px;
}
}


@media only screen and (max-width : 1200px)
{

p#form
{
	font-size: 16px;
}

p#sec
{
	font-size: 16px;
}

h3#counter
{
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

#title_pop
{

	font-size: 35px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

p#content
{
	margin-top: 26px;
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 26px;
	margin-right: auto;
	margin-left: auto;
}

h3#boutonform 
{
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
	color: white;
}

}


@media only screen and (max-width : 1075px)
{
.pop-up
{
	padding: 0 40px;
}

p#form
{
	font-size: 15px;
}

p#sec
{
	font-size: 15px;
}

h3#counter
{
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#title_pop
{

	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

p#content
{
	margin-top: 26px;
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 24px;
	margin-right: auto;
	margin-left: auto;
}

h3#boutonform 
{
	padding-top: 20px;
	font-size: 15px;
	text-align: center;
	color: white;
}

#plane
{
	transform: scale(2);
	margin-right: 100%;
	padding-left: 50px;
	margin-top: 70px;
}

}


@media only screen and (max-width : 825px)
{
.pop-up
{
	padding: 0 40px;
}

p#form
{
	font-size: 15px;
}

p#sec
{
	font-size: 15px;
}

h3#counter
{

	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#title_pop
{

	font-size: 30px;
	margin-top: 100px;
}

p#content
{
	margin-top: 26px;
	font-size: 24px;

}

h3#boutonform 
{
	padding-top: 20px;
	font-size: 15px;

}

#plane
{
	transform: scale(2);
	margin-right: 100%;
	padding-left: 10px;
	margin-top: 70px;
}

}

@media only screen and (max-width : 700px)
{
.pop-up
{
	padding: 0 20px;
}

p#form
{
	padding-top: 50px;
	font-size: 14px;
}

p#sec
{
	padding-top: 50px;
	font-size: 14px;
}

h3#counter
{
	padding-top: 50px;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
}

#title_pop
{
	font-size: 25px;
	margin-top: 100px;
}

p#content
{
	margin-top: 26px;
	font-size: 20px;
} 

h3#boutonform 
{
	padding-top: 110px;
	font-size: 13px;
}

#plane
{
	transform: scale(2);
	margin-right: 100%;
	padding-left: 10px;
	margin-top: 70px;
	display: none;
}

}

@media only screen and (max-width : 375px)
{
.pop-up
{
	padding: 0 20px;
}

div#flex
{
	flex-direction: column;
}

p#form
{
	padding-top: 50px;
	width: auto;
	font-size: 14px;
	color: white;
	text-align: center;
}

p#sec
{
	padding-top: 10px;
	width: auto;
	font-size: 14px;
	color: white;
	text-align: center;
}

h3#counter
{
	padding-top: 10px;
	width: auto;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
	color: white;
	text-align: center;
}

#title_pop
{

	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

p#content
{
	margin-top: 26px;
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
}

h3#boutonform 
{
	padding-top: 50px;
	font-size: 13px;
	text-align: center;
	color: white;
}

#plane
{
	transform: scale(2);
	margin-right: 100%;
	padding-left: 10px;
	margin-top: 70px;
	display: none;
}

}