@media only screen and (max-width : 1536px){

  section#form form {
    width: 65%;
  }
}


@media only screen and (max-width : 1446px){

 section#form form .scene {
    display: none;
}
}


@media only screen and (max-width : 1366px){
  section#form h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width : 1280px){
  section#form h3 {
    font-size: 37px;
  }
  section#form form {
    width: 75%;
  }

  section#testimony .testimony_container .testimony_content {
    font-size: 14px;
    width: 100%;
  }

  section#testimony .testimony_container:nth-child(even) .testimony_content {
    margin-left: 20px;
  }

  section#testimony .testimony_container:nth-child(odd) .testimony_content {
    margin-right: 20px;
  }

  section#form form {
    margin-top: 60px;
  }


}

@media only screen and (max-width : 1060px){

  section#form > img {
    display: none;
  }

}


@media only screen and (max-width : 1024px){

  section#need_us .scene {
    left: 10%;
  }

  section#form form .scene {
    display: none;
  }

}


@media only screen and (max-width : 1002px){

  section#need_us .need_us_content:first-of-type .link_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  } 
}


@media only screen and (max-width : 950px){

  section#testimony .testimony_container {
    flex-wrap: wrap;
  }

  section#testimony .testimony_container:nth-child(even) .testimony_titles {
    text-align: center;
  }

  section#testimony .testimony_container:nth-child(odd) .testimony_titles {
    text-align: center;
  }

  section#testimony .testimony_container .testimony_img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  section#testimony .testimony_container:nth-child(even) .testimony_quote {
    top: 345px;
  }

  section#testimony .testimony_container:nth-child(odd) .testimony_quote {
    top: 345px;
  }
  section#testimony .testimony_container:nth-child(even) .testimony_titles img {
    display: none;
  }
  section#testimony .testimony_container:nth-child(odd) .testimony_titles img {
    display: none;
  }

  section#testimony .testimony_container .testimony_content {
    margin-top: 40px;
  }

  section#form form {
    width: 100%;
  }
  section#need_us .scene {
    display: none;
  }

  section#need_us .need_us_content p {
    width: 80%;
    display: inline-block;
  }

  section#need_us .need_us_content:first-of-type p {
    width: 80%;
    display: inline-block;
    margin-right: 0px;
  }
}


@media only screen and (max-width : 770px){
  section#testimony .scene {
    left: -10%;
  }

  section#form h3 {
    line-height: 1;
    font-size: 30px;
  }

  section#need_us .need_us_content:first-of-type .link_button {
    font-size: 15px;
    padding: 18px 33px;
  } 

  section#form input[type="submit"] {
    font-size: 15px;
    padding: 18px 71.5px;
  }

}

@media only screen and (max-width : 740px){

  section#testimony .testimony_container .testimony_titles p:nth-of-type(1) {
    font-size: 25px;
  }

  section#testimony .testimony_container .testimony_titles p:nth-of-type(2) {
    font-size: 23px;
  }



}

@media only screen and (max-width : 600px){

 section#testimony .testimony_container:nth-child(even) .testimony_content {
  margin-left: 0px;
}

section#testimony .testimony_container:nth-child(odd) .testimony_content {
  margin-right: 0px;
}

section#testimony .testimony_container:nth-child(even) .testimony_titles {
  margin-left: 0px;
}

section#testimony .testimony_container:nth-child(odd) .testimony_titles {
  margin-right: 0px;
}

section#testimony .testimony_container:nth-child(even) .testimony_quote {
  display: none;
}

section#testimony .testimony_container:nth-child(odd) .testimony_quote {
  display: none;
}


@media only screen and (max-width : 524px){

  section#need_us .need_us_content p {
    width: 90%;
  }

  section#testimony .testimony_container .testimony_titles p:nth-of-type(1) {
    font-size: 20px;
    text-align: center;
  }

  section#testimony .testimony_container .testimony_titles p:nth-of-type(2) {
    font-size: 18px;
    text-align: center;
  }

  

} 


@media only screen and (max-width : 389px){
  section#testimony .testimony_container .testimony_content {
    font-size: 12px;
  }

  section#form form input[type=text] {
    width: 100%;
  }

} 
