@media only screen and (max-width : 1600px)
{

	.wrap_d
	{
		padding: 200px 200px 0px 145px;
	}

	img.tablet
	{
		left: 196px;
		top: 204px;
		transform: scale(0.8);
	}

	img.checklist
	{
		right: 35px;
		top: 500px;
		transform: scale(0.8);
	}

	img.camera
	{
		left:40px;
		top:635px;
		transform: scale(0.8);
	}

	#wrap_year
	{
		padding: 0px 650px 210px 651px;
		margin-right: auto;
		margin-left: auto;
	}


	#mid_triangle_border_white
	{
		margin-left: 1025px;
	}

	#medium_mid_triangle_white
	{
		margin-left: 975px;
		margin-top: 50px;
	}


	#small_mid_triangle_white
	{
		margin-left: 1100px;
		margin-top: 100px;
	}

	#bottom_square_purple
	{
		margin-left: 1025px;
	}

	#bottom_triangle_border_grey
	{
		margin-left: 980px;
		margin-top: -70px;
	}


	#bottom_triangle_white
	{
		margin-left: 950px;
		margin-top: 10px;
	}

	/*cinquieme scene*/

	#bottom_triangle_purple
	{
		margin-left: 1075px;
		margin-top: 620px;
	}

	h3.name
	{
		font-size: 22px;
	}

	h3.profesion
	{
		font-size: 18px;
	}

	p.testimony
	{
		font-size: 14px;
	}
}

@media only screen and (max-width : 1536px)
{

	.wrap_d
	{
		padding: 200px 150px 0px 95px;
	}

	img.checklist
	{
		right: 335px;
		top: 600px;
		position: absolute;
	}

	img.camera
	{
		position: absolute;
		left:40px;
		top:765px;
	}

	.code 
	{
		position: absolute;
		right: 550px;
		margin-top: 100px;
	}

	#wrap_year
	{
		padding: 0px 505px 210px 505px;
	}

	#number_one:after
	{
	margin-top: -150px;
	}

	#number_two:after
	{
	margin-top: -100px;
	}

	#number_three:after
	{

	margin-top: -30px;
	}
	
	#mid_triangle_border_white
	{
		margin-left: 1325px;
	}

	#medium_mid_triangle_white
	{
		margin-left: 1275px;
	}

	#small_mid_triangle_white
	{
		margin-left: 1400px;
		margin-top: 100px;
	}

	#bottom_square_purple
	{
		margin-left: 1325px;
	}

	#bottom_triangle_border_grey
	{
		margin-left: 1280px;
		margin-top: -70px;
	}

	#bottom_triangle_white
	{
		margin-left: 1250px;
		margin-top: 10px;
	}

	/*cinquieme scene*/

	#bottom_triangle_purple
	{
		margin-top: 320px;
	}

	#bottom_rectangle_grey
	{
		margin-top: 1000px;
	}


	#bottom_triangle_border_purple
	{
		margin-left: 800px;
		margin-top: 1800px;
	}

}

@media only screen and (max-width : 1440px)
{


	img.camera
	{
		transform: scale(0.7);
	}

	.code 
	{
		right: 250px;
	}

	#wrap_year
	{
		padding: 0px 510px 210px 510px;
	}

	.video video
	{
		width: 730px;
		height: 454px;
		margin-left: auto;
		margin-right: auto;
	}

	#bottom_square_purple
	{
		margin-left: 1025px;
	}

	#bottom_triangle_border_grey
	{
		margin-left: 980px;
	}


	#bottom_triangle_white
	{
		margin-left: 950px;
	}

	/*cinquieme scene*/

	#bottom_triangle_purple
	{
		margin-left: 1075px;
		margin-top: 620px;
	}

	#bottom_rectangle_grey
	{
		margin-left: 255px;
	}

	h3.name
	{
		font-size: 20px;
	}

	h3.profesion
	{
		font-size: 16px; 
	}

	#mid_triangle_border_white
	{
		margin-left: 1025px;
	}

	#medium_mid_triangle_white
	{
		margin-left: 975px;
	}


	#small_mid_triangle_white
	{
		margin-left: 1100px;
		margin-top: 100px;
	}

}

@media only screen and (max-width : 1368px)
{

	img.camera
	{
		left:20px;
		top:865px;
		transform: scale(0.7);

	}

	img.checklist
	{
		right: 135px;
	}

	.code 
	{
		position: absolute;
		right: 350px;
		margin-top: 100px;
	}

		img.tablet
	{
		left: 196px;
		top: 304px;
		transform: scale(0.8);
	}

	#wrap_year
	{
		padding: 0px 410px 210px 410px;
	}

	#bottom_triangle_purple
	{
		margin-left: 1125px;
	}

	#bottom_rectangle_grey
	{
		margin-left: 295px;
	}

	#bottom_triangle_border_purple
	{
		margin-left: 700px;
	}
}

@media only screen and (max-width : 1024px)
{
	

	.wrap_d
	{
		padding: 0px 75px 0px 50px;
	}

	h2
	{
		font-size: 50px;
		line-height: 1; 
	}

	#top_triangle_purple
	{
		display: none;
	}

	#top_triangle_white
	{
		display: none;
	}

	img.tablet
	{

		left: 45px;
		top: 204px;
		transform: scale(0.5);
	}

	img.checklist
	{
		right: 35px;
		top: 500px;
		transform: scale(0.5);
	}

	img.camera
	{
		left:640px;
		top:865px;
		transform: scale(0.5);
	}

	p.competences_1
	{
		font-size: 18px;
	}
	
	p.competences_1::after
	{
		width: 363px;
		height: 95px;
	}

	p.competences_2
	{
		font-size: 18px;
	}

	.code 
	{
		position: absolute;
		right: 150px;
		margin-top: 100px;
		transform: scale(0.5);
	}

	h3.right_title
	{
		font-size: 26px;
		margin-left: 0px;
	}

	p.content_right
	{
		font-size: 14px;
		margin-left: 0px;
	}

	h3.left_title
	{
		font-size: 26px;
	}

	p.content_left
	{

		font-size: 14px;
	}

	#mid_triangle_white
	{
		display: none;
	}

	#mid_triangle_border_purple
	{
		display: none;
	}

	#wrap_year
	{
		padding: 0px 235px 105px 235px;
	}

	h3.year
	{
		font-size: 26px;
	}

	p.content_center
	{
		font-size: 14px;

	}
	div#after_content_purple:after
	{
		margin-left: 200px;
	}

	div#after_content_purple
	{
		margin-bottom: 231px;
	}

	#mid_triangle_border_white
	{
		display: none;
	}

	#medium_mid_triangle_white
	{
		display: none;
	}


	#small_mid_triangle_white
	{
		display: none;
	}

	.departement .intro
	{
		width: 500px;
		height: 451px;
	}

	.intro p
	{
		font-size: 20px;
		width: 270px;
		margin-left: 140px;
	}

	#bottom_square_purple
	{
		display: none;
	}

	#bottom_triangle_border_grey
	{
		display: none;
	}


	#bottom_triangle_white
	{
		display: none;
	}

	/*cinquieme scene*/

	#bottom_triangle_purple
	{
		display: none;
	}

	#bottom_rectangle_grey
	{
		display: none;
	}


	#bottom_triangle_border_purple
	{
		display: none;
	}

	div#teachers
	{
		margin-bottom: 50px;
		justify-content: space-around;
	}

	div.column_teacher
	{
		flex-direction: column;
		width: 300px;
		margin-bottom: 50px;
	}
}


@media only screen and (max-width : 750px)

{
	.wrap_d
	{
		padding: 100px 70px 0px 70px;
	}

	img.tablet
	{
		left: 50px;
		top: 215px;
	}

	img.checklist
	{
		top: 550px;
	}

	img.camera
	{
		left:490px;
		top:1030px;
	}

	p.competences_1
	{

		font-size: 14px;
	}

	p.competences_2
	{
		font-size: 14px;
	}

	div.competences_deroulantes div.competence div.titre h3
	{
		font-size: 14px;
	}

	div#destiny
	{
		margin-bottom: 85px;
	}

	.code 
	{
		right: 250px;
		margin-top: 200px;
	}

	h3.right_title
	{
		font-size: 22px;
		width: auto;
	}

	p.content_right
	{
		font-size: 12px;
	}

	h3.left_title
	{
		font-size: 22px;
		width: auto;
	}

	p.content_left
	{

		font-size: 14px;
		margin-bottom: 100px;
	}

	#wrap_year
	{
		padding: 0px 100px 153px 100px;
	}

	h2.year
	{
		font-size: 22px;
	}

	p.content_center
	{
		font-size: 12px;
		width: 500px;
	}
	div#after_content_purple:after
	{
		margin-left: 200px;
	}

	section.departement
	{
		margin-bottom: 50px;
	}

	.departement .intro
	{
		width: 1105px;
		height: 651px;
		margin-left: auto;
		margin-right: auto;
	}

	.intro p
	{
		font-size: 14px;
	}

	.video
	{
		display: block;
		transform: translateX(-23%);
	}
}

@media only screen and (max-width : 375px)
{

	.wrap_d
	{
		padding: 100px 50px 0px 50px;
	}

	h2
	{
		font-size: 40px;
		margin-bottom: 50px;
	}

	img.tablet
	{
		display: none;
	}

	img.checklist
	{
	display: none;
	}

	img.camera
	{
		display: none;
	}

	p.competences_1
	{
		width: 200px;
		font-size: 10px;
	}
	
	p.competences_1::after
	{
		width: 265px;
	}

	p.competences_2
	{
		width: 200px;
		font-size: 10px;
	}

	div.competences_deroulantes div.competence
	{
		width: 250px;
	}

	div.competences_deroulantes div.competence div.titre h3
	{
		font-size: 10px;
	}

	p
	{
		width: 200px;
		font-size: 10px;
	}

	.code 
	{
		display: none;
	}

	h3.right_title
	{
		font-size: 18px;
		width: auto;
	}

	p.content_right
	{
		font-size: 10px;
		margin-left: 15px;
		width: 250px;
	}

	h3.left_title
	{
		font-size: 18px;
		margin-bottom: 60px;
		width: auto;
		margin-left: 0px;
	}

	p.content_left
	{
		font-size: 10px;
		width: 250px;
	}

	#wrap_year
	{
		padding: 0px 50px 76px 50px;
	}

	#number_two:after
	{
	margin-left: 240px;
	}

	h3.year
	{
		font-size: 18px;
	}

	p.content_center
	{
		font-size: 10px;
		width: 250px;
	}
	div#after_content_purple:after
	{

		width: 245px;
		margin-left: 20px;
		height: 75px;

	}

	div#after_content_purple
	{
		margin-bottom: 231px;
	}

	section.departement
	{
		margin-bottom: 50px;
	}

	.intro p
	{
		font-size: 10px;
		transform: translateX(-55%);
	}

	p.testimony
	{
		margin-left: auto;
		margin-right: auto;
	}

	iframe
	{
		width: 300px;
    	height: 200px;
    	transform: translateX(-53%);
	}
}